.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.banner-capacity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner-capacity > .container {
  position: absolute;
}
.banner-capacity .intros-banner__capacity {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #7f7f7f;
}
.banner-capacity .img-banner__capacity {
  width: 50%;
  overflow: hidden;
}
.banner-capacity .img-banner__capacity img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 400px;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.banner-capacity__left .img-banner__capacity {
  margin-left: auto;
}
.banner-capacity__left .intros-banner__capacity {
  padding-right: 60px;
}

.banner-capacity__right {
  background-color: #354c9e;
}
.banner-capacity__right .img-banner__capacity {
  margin-right: auto;
}
.banner-capacity__right .intros-banner__capacity {
  padding-left: 60px;
  margin-left: auto;
  color: #FFFFFF;
}
.banner-capacity__right .intros-banner__capacity .title-hara {
  color: #FFFFFF;
}

.items-capacity__file {
  overflow: hidden;
  border-radius: 10px;
}
.items-capacity__file .img-capacity__file {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 85%;
}
.items-capacity__file .img-capacity__file img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.items-capacity__file .intros-capacity__file {
  padding: 30px 20px;
  text-align: center;
}
.items-capacity__file .intros-capacity__file .btn-dowload__alls {
  margin-left: auto;
  margin-right: auto;
}

.slide-capacity__file .swiper-button-prev,
.slide-capacity__file .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.slide-capacity__file .group-btns__showss {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
.slide-capacity__file .group-btns__showss .showss-button-prev,
.slide-capacity__file .group-btns__showss .showss-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1000px;
  padding: 5px;
  border: solid 1px #354c9e;
}
.slide-capacity__file .group-btns__showss .showss-button-prev img,
.slide-capacity__file .group-btns__showss .showss-button-next img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -webkit-filter: brightness(0) saturate(100%) invert(20%) sepia(38%) saturate(3743%) hue-rotate(219deg) brightness(94%) contrast(84%);
          filter: brightness(0) saturate(100%) invert(20%) sepia(38%) saturate(3743%) hue-rotate(219deg) brightness(94%) contrast(84%);
}
.slide-capacity__file .group-btns__showss .showss-button-prev:hover, .slide-capacity__file .group-btns__showss .showss-button-prev:focus,
.slide-capacity__file .group-btns__showss .showss-button-next:hover,
.slide-capacity__file .group-btns__showss .showss-button-next:focus {
  background-color: #354c9e;
}
.slide-capacity__file .group-btns__showss .showss-button-prev:hover img, .slide-capacity__file .group-btns__showss .showss-button-prev:focus img,
.slide-capacity__file .group-btns__showss .showss-button-next:hover img,
.slide-capacity__file .group-btns__showss .showss-button-next:focus img {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(69deg) brightness(114%) contrast(110%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(69deg) brightness(114%) contrast(110%);
}
.slide-capacity__file .group-btns__showss .showss-button-next {
  margin-left: 30px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.banner-map__capacity img {
  width: 100%;
  min-height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-about__pages {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.banner-about__pages > .container {
  position: absolute;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  top: 20%;
  z-index: 10;
}
.banner-about__pages > .container .intros-banner__about {
  width: 55%;
  color: #FFFFFF;
  text-align: justify;
}
.banner-about__pages > .container .intros-banner__about p {
  width: 100%;
}

.img-banner__about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 35%;
}
.img-banner__about img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.reason-about .text-top__main {
  max-width: 780px;
}

.img-why__pages {
  text-align: center;
}

.why-about__page .text-top__main {
  max-width: 750px;
  color: #FFFFFF;
}
.why-about__page .register-sevice__main {
  color: #606060;
}

.content-why__page {
  padding-top: 70px;
  margin-top: -70px;
  position: relative;
}
.content-why__page:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 150%;
  background: url(../images/bg-content-why-page.png) no-repeat center;
  background-size: cover;
}
.content-why__page .container {
  position: relative;
  z-index: 10;
}

.item-why__page {
  text-align: center;
  color: #FFFFFF;
}
.item-why__page img {
  margin-bottom: 10px;
  width: 60px;
  height: 60px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.item-why__page .title-why__page {
  padding: 0px 20%;
}

.list-core__sevice {
  position: relative;
}
.list-core__sevice:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 15px;
  bottom: 0px;
  width: 1px;
  height: 100%;
  background-color: #e4e4e4;
}

.items-core__sevice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.items-core__sevice:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  background: url(../images/cicle-titles.png) no-repeat center;
  background-size: 100% 100%;
  margin-right: 30px;
  position: relative;
  z-index: 10;
}
.items-core__sevice:not(:last-child) {
  margin-bottom: 30px;
}
.items-core__sevice .content-items__core {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  background-color: #f3f5fd;
}
.items-core__sevice .content-items__core .text-items__core {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 25px 30px;
  color: #606060;
}
.items-core__sevice .content-items__core .img-items__core > span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 300px;
  height: 1px;
  padding-top: 67%;
  overflow: hidden;
  border-radius: 10px;
  margin-left: 30px;
}
.items-core__sevice .content-items__core .img-items__core > span img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.items-core__sevice .content-items__core .tag-prj__mains li a {
  min-width: 110px;
  color: #3f3f3f;
  font-family: "Roboto-Bold";
}
.items-core__sevice .content-items__core .tag-prj__mains {
  margin-left: 0px;
  margin-bottom: 15px;
}
.items-core__sevice .content-items__core .tag-prj__mains li {
  margin-bottom: 15px;
}

.trademark-about__page {
  background-color: #f0f2fa;
  padding: 40px 0px;
}

.text-trademark__about {
  max-width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  color: #7f7f7f;
  position: relative;
}
.text-trademark__about:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  background: url(../images/quocte-trademark-about.png) no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0px;
  top: 20px;
  z-index: 10;
}

.list-color__meaning {
  margin-top: 20px;
}
.list-color__meaning li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 100%;
  max-width: 360px;
  color: #FFFFFF;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 1000px;
  color: #FFFFFF;
}
.list-color__meaning li:not(:last-child) {
  margin-bottom: 30px;
}
.list-color__meaning li:nth-child(1) {
  background-color: #354c9e;
}
.list-color__meaning li:nth-child(2) {
  background-color: #e51e2b;
}

.item-personnel__about {
  margin-bottom: 30px;
}
.item-personnel__about .img-personnel__about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 145%;
  margin-bottom: 30px;
}
.item-personnel__about .img-personnel__about img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: 10;
}
.item-personnel__about .img-personnel__about:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: url(../images/bg-item-personnel.png) no-repeat center;
  background-size: cover;
  position: absolute;
  left: 0px;
  bottom: 0px;
}
.item-personnel__about .intro-personnel__about {
  color: #7f7f7f;
}
.item-personnel__about .intro-personnel__about .target-personnel__about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.item-personnel__about .intro-personnel__about .target-personnel__about .list-target__work {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.item-personnel__about .intro-personnel__about .target-personnel__about .list-target__work li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 13px;
}
.item-personnel__about .intro-personnel__about .target-personnel__about .list-target__work li:not(:last-child) {
  margin-bottom: 10px;
}
.item-personnel__about .intro-personnel__about .target-personnel__about .list-target__work li:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8px;
  height: 8px;
  min-width: 8px;
  border-radius: 1000px;
  background-color: #e51e2b;
  margin-right: 10px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}
.item-personnel__about .intro-personnel__about .target-personnel__about .btn-blue__alls {
  padding: 5px 15px;
  font-size: 12px;
  min-height: 30px;
  font-family: "Roboto-Medium";
}

.slide-passion__about .swiper-button-prev,
.slide-passion__about .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.slide-passion__about .group-btns__showss {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
.slide-passion__about .group-btns__showss .showss-button-prev,
.slide-passion__about .group-btns__showss .showss-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1000px;
  padding: 5px;
  border: solid 1px #354c9e;
}
.slide-passion__about .group-btns__showss .showss-button-prev img,
.slide-passion__about .group-btns__showss .showss-button-next img {
  width: 100%;
  height: 100%;
  -webkit-filter: brightness(0) saturate(100%) invert(19%) sepia(77%) saturate(2061%) hue-rotate(217deg) brightness(95%) contrast(79%);
          filter: brightness(0) saturate(100%) invert(19%) sepia(77%) saturate(2061%) hue-rotate(217deg) brightness(95%) contrast(79%);
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.slide-passion__about .group-btns__showss .showss-button-prev:hover, .slide-passion__about .group-btns__showss .showss-button-prev:focus,
.slide-passion__about .group-btns__showss .showss-button-next:hover,
.slide-passion__about .group-btns__showss .showss-button-next:focus {
  background-color: #354c9e;
}
.slide-passion__about .group-btns__showss .showss-button-prev:hover img, .slide-passion__about .group-btns__showss .showss-button-prev:focus img,
.slide-passion__about .group-btns__showss .showss-button-next:hover img,
.slide-passion__about .group-btns__showss .showss-button-next:focus img {
  -webkit-filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(0%) hue-rotate(251deg) brightness(117%) contrast(100%);
          filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(0%) hue-rotate(251deg) brightness(117%) contrast(100%);
}
.slide-passion__about .group-btns__showss .showss-button-next {
  margin-left: 30px;
}
.slide-passion__about .group-btns__showss .showss-button-next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.slide-media__personnel {
  padding-top: 35px;
  background-color: #f3f5fd;
}
.slide-media__personnel .swiper-button-prev,
.slide-media__personnel .swiper-button-next {
  color: #FFFFFF;
}
.slide-media__personnel .swiper-button-prev:after,
.slide-media__personnel .swiper-button-next:after {
  font-size: 40px;
}
.slide-media__personnel .swiper-button-prev {
  left: 150px;
}
.slide-media__personnel .swiper-button-next {
  right: 150px;
}
.slide-media__personnel .swiper-grid-column > .swiper-wrapper {
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
}

.item-media__personnel > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 65%;
}
.item-media__personnel > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}