.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.content-contact {
  margin-top: 20px;
}

.intro-contact__page:not(:last-child) {
  margin-bottom: 60px;
  padding-bottom: 20px;
  border-bottom: solid 1px #C4C4C4;
}

.hotline-mail__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}
.hotline-mail__contact li {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
}
.hotline-mail__contact li a:hover, .hotline-mail__contact li a:focus {
  color: #e51e2b;
}
.hotline-mail__contact li img {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.list-office__contact li:not(:last-child) {
  margin-bottom: 20px;
}