.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.banner-mains {
  position: relative;
  z-index: 10;
}
.banner-mains .swiper-pagination .swiper-pagination-bullet {
  margin: 0px !important;
  width: 20px;
  height: 7px;
  border-radius: 1000px;
  border: solid 1px #354c9e;
  background-color: #FFFFFF;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.banner-mains .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 5px !important;
}
.banner-mains .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #354c9e;
}

.items-banner__mains {
  overflow: hidden;
}
.items-banner__mains .intros-banner__main {
  padding: 115px 0px;
  color: #7f7f7f;
  text-align: justify;
}
.items-banner__mains .intros-banner__main > [class^=title] {
  max-width: 70%;
}
.items-banner__mains .intros-banner__main .btn-blue__alls {
  margin-top: 50px;
}
.items-banner__mains .img-banner__main {
  position: relative;
  height: 100%;
}
.items-banner__mains .img-banner__main img {
  position: absolute;
  top: 40px;
  left: 0px;
  width: 133%;
  max-width: unset;
  height: auto;
}

.about-mains {
  margin-bottom: 210px;
  position: relative;
  z-index: 10;
}
.about-mains .intros-about__main {
  color: #7f7f7f;
  text-align: justify;
}
.about-mains .intros-about__main .btn-red__alls {
  margin-top: 80px;
}
.about-mains .img-about__main img {
  width: 100%;
}

.vision-main {
  color: #FFFFFF;
  position: relative;
  padding-top: 40px;
  padding-bottom: 110px;
}
.vision-main .container {
  position: relative;
  z-index: 10;
}
.vision-main:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 275%;
  background: url(../images/bg-vision-main.png) no-repeat center bottom;
  background-size: cover;
}
.vision-main .row {
  max-width: 775px;
  margin: 0px auto;
}

.item-vision__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-vision__main > img {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.item-vision__main .intro-vison__item {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 20px;
}

.item-sevice__main .img-item__sevice > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 65%;
  overflow: hidden;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(96, 96, 96, 0.43) !important;
  box-shadow: 3px 3px 9px 0px rgba(96, 96, 96, 0.43) !important;
}
.item-sevice__main .img-item__sevice > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-sevice__main .info-item__sevice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0px -10px;
}
.item-sevice__main .info-item__sevice > li {
  width: 50%;
  padding: 0px 10px;
  margin-bottom: 20px;
}
.item-sevice__main .info-item__sevice > li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-sevice__main .info-item__sevice > li a:hover, .item-sevice__main .info-item__sevice > li a:focus {
  color: #354c9e;
}
.item-sevice__main .title-item__sevice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-sevice__main .title-item__sevice:hover, .item-sevice__main .title-item__sevice:focus {
  color: #354c9e;
}

.sevice-main {
  background: url(../images/bg-sevice-main.jpg) no-repeat center;
  background-size: cover;
}
.sevice-main .container {
  padding-top: 70px;
  padding-bottom: 70px;
}
.sevice-main .container .row > [class^=col]:nth-child(2) {
  margin-top: 75px;
}

.list-partner__prj {
  padding: 80px 0px;
  background-color: #F3F5FD;
}
.list-partner__prj .row {
  max-width: 810px;
  margin-right: auto;
  margin-left: auto;
}