.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.text-quocte__new {
  padding: 60px 0px;
  background-color: #F8F8F8;
}
.text-quocte__new .title-hara {
  max-width: 60%;
}

.category-tag__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 0px;
}
.category-tag__new li {
  width: 15.6%;
}
.category-tag__new li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 5px 10px;
  background-color: #F3F5FD;
  border-radius: 5px;
  font-size: 15px;
  font-family: "Roboto-Medium";
  width: 100%;
}
.category-tag__new li a:hover, .category-tag__new li a:focus {
  background-color: #e51e2b;
  color: #FFFFFF;
}
.category-tag__new li .active {
  background-color: #e51e2b;
  color: #FFFFFF !important;
}

.search-new__sidebar form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  border-bottom: solid 1px #C4C4C4;
}
.search-new__sidebar form img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.search-new__sidebar form input {
  background-color: transparent;
  outline: none;
  border: 0px;
  width: 100%;
  height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.search-new__sidebar form input::-webkit-input-placeholder {
  color: #7f7f7f;
}
.search-new__sidebar form input::-moz-placeholder {
  color: #7f7f7f;
}
.search-new__sidebar form input:-ms-input-placeholder {
  color: #7f7f7f;
}
.search-new__sidebar form input::-ms-input-placeholder {
  color: #7f7f7f;
}
.search-new__sidebar form input::placeholder {
  color: #7f7f7f;
}

.list-follow__apps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.list-follow__apps li {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 20px;
}
.list-follow__apps li:not(:last-child) {
  margin-right: 20px;
}

.items-relate__sidebar {
  background-color: #F6F7FD;
  padding: 20px;
  border-radius: 5px;
}
.items-relate__sidebar:not(:last-child) {
  margin-bottom: 20px;
}
.items-relate__sidebar .title-relate__sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.items-relate__sidebar .title-relate__sidebar:hover, .items-relate__sidebar .title-relate__sidebar:focus {
  color: #354c9e;
}

.new-hot__pages .items-new__page .img-new__page > a {
  padding-top: 45%;
}

.banner-new__details {
  position: relative;
  padding: 50px 0px;
}
.banner-new__details:after {
  content: "";
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(32, 32, 32, 0.6);
}
.banner-new__details > img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-new__details .container {
  position: relative;
  z-index: 10;
  color: #BEBEBE;
}
.banner-new__details .container .title-hara {
  color: #FFFFFF;
}

.top-author__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.author-new__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.author-new__detail img {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
}
.author-new__detail .intros-author__new {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15px;
  font-size: 14px;
  color: #767676;
}
.author-new__detail .intros-author__new .title-rb__bold {
  color: #202020;
}

.share-view__new .share-app__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10px;
}
.share-view__new .share-app__news li:not(:last-child) {
  margin-right: 20px;
}
.share-view__new .view-new__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  color: #354c9e;
}
.share-view__new .view-new__details img {
  margin-right: 10px;
}

.text-news__details ul {
  margin-bottom: 20px;
}
.text-news__details ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.text-news__details ul li a {
  color: #767676;
}
.text-news__details ul li a:hover, .text-news__details ul li a:focus {
  color: #354c9e;
}
.text-news__details ul li:not(:last-child) {
  margin-bottom: 10px;
}
.text-news__details ul li:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5px;
  height: 5px;
  min-width: 5px;
  margin-right: 10px;
  background-color: #354c9e;
  border-radius: 1000px;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.signature-new {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #767676;
  margin-left: auto;
}
.signature-new a {
  color: #354c9e;
}

.bottom-all__new .box-bottom__new {
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.bottom-all__new .box-bottom__new:not(:last-child) {
  border-bottom: solid 1px #C4C4C4;
}
.bottom-all__new .box-bottom__new:first-child {
  padding-top: 0px;
}
.bottom-all__new .box-bottom__new:last-child {
  padding-bottom: 0px;
}
.bottom-all__new .box-bottom__new .title-box__bottom {
  color: #767676;
  margin-right: 10px;
}
.bottom-all__new .box-bottom__new .list-follow__apps {
  margin-left: 115px;
}
.bottom-all__new .box-bottom__new .list-follow__apps li {
  margin-bottom: 5px;
}

.box-bottom__new .title-box__bottom,
.box-bottom__new .bottom-tag__news,
.box-bottom__new .list-follow__apps,
.box-bottom__new .tag-cmt__new {
  margin-bottom: 10px;
}

.bottom-tag__news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.bottom-tag__news li {
  margin-bottom: 5px;
}
.bottom-tag__news li:not(:last-child) {
  margin-right: 20px;
}
.bottom-tag__news li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5px 15px;
  background-color: #F3F5FD;
  border-radius: 5px;
  color: #767676;
}
.bottom-tag__news li a:hover, .bottom-tag__news li a:focus {
  background-color: #354c9e;
  color: #FFFFFF;
}

.tag-cmt__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tag-cmt__new li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 2px 5px;
  border-radius: 5px;
  background-color: transparent;
  color: #7f7f7f;
}
.tag-cmt__new li a:hover, .tag-cmt__new li a:focus {
  background-color: #e51e2b;
  color: #FFFFFF;
}
.tag-cmt__new li:not(:last-child) {
  margin-right: 5px;
}
.tag-cmt__new .active {
  background-color: #e51e2b;
  color: #FFFFFF;
}

.form-cmt__new {
  margin-top: 10px;
  width: 100%;
}

.list-cmt__new > .items-cmt__new:nth-child(n+2) {
  display: none;
}

.btn-see__more {
  margin-top: 45px;
  cursor: pointer;
}

.items-cmt__new .intro-cmt__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.items-cmt__new .intro-cmt__new > img {
  width: 62px;
  height: 62px;
  border-radius: 1000px;
}
.items-cmt__new .intro-cmt__new .top-text__cmt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.items-cmt__new .intro-cmt__new .text-cmt__new {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 30px;
}
.items-cmt__new .intro-cmt__new .text-cmt__new .name-day__up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 15px;
}
.items-cmt__new .intro-cmt__new .text-cmt__new .name-day__up p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 5px;
}
.items-cmt__new .intro-cmt__new .text-cmt__new .name-day__up p:not(:first-child) {
  color: #606060;
}
.items-cmt__new .intro-cmt__new .text-cmt__new .name-day__up p:not(:first-child):before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 2px;
  height: 2px;
  background-color: #212529;
  margin: 0px 5px;
}
.items-cmt__new .intro-cmt__new .text-cmt__new a {
  color: #354c9e;
}
.items-cmt__new .like-answer__cmt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 15px;
  margin-top: 15px;
}
.items-cmt__new .like-answer__cmt li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.items-cmt__new .like-answer__cmt li i {
  font-size: 18px;
  margin-right: 3px;
}
.items-cmt__new .like-answer__cmt li:not(:first-child) {
  margin-left: 10px;
}

.list-hot__sidebar .items-new__page {
  margin-bottom: 20px;
}

.list-category__sidebar li:not(:last-child) {
  margin-bottom: 10px;
}
.list-category__sidebar li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #767676;
  font-family: "Roboto-Bold";
}
.list-category__sidebar li a:hover, .list-category__sidebar li a:focus {
  color: #354c9e;
}