.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.banner-prj__pages {
  background-color: #F8F8F8;
  padding: 55px 0px;
  text-align: justify;
}
.banner-prj__pages .title-hara {
  max-width: 50%;
}
.banner-prj__pages p {
  max-width: 40%;
}

.client-sevice__use {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #7f7f7f;
}
.client-sevice__use > li:not(:last-child) {
  margin-right: 40px;
}
.client-sevice__use > li ul li {
  color: #202020;
}
.client-sevice__use > li ul li:not(:last-child) {
  margin-bottom: 10px;
}
.client-sevice__use .title-client__sevice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.client-sevice__use .title-client__sevice:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5px;
  height: 5px;
  background-color: #354c9e;
  border-radius: 1000px;
  margin-right: 5px;
}

.top-image__project {
  color: #767676;
  padding: 40px 0px;
  background-color: #F8F8F8;
}
.top-image__project .container {
  padding-right: 30%;
}

.list-image__project img {
  width: 100%;
}

.value-project__details {
  padding: 50px 0px;
  background-color: #F8F8F8;
}
.value-project__details .list-parameter__reason .items-parameter__reason {
  max-width: 290px;
}