.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.tip-recruit__pages {
  padding: 75px 0px;
  background-color: #F8F8F8;
}
.tip-recruit__pages .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.items-recruit__pages {
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #C3C3C3;
  border-radius: 5px;
  margin-bottom: 20px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.items-recruit__pages:hover, .items-recruit__pages:focus {
  background: #F6F7FD;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: solid 1px #F6F7FD;
}
.items-recruit__pages .btn-red__alls {
  margin-left: auto;
  margin-right: auto;
}

.intro-item__recruit li {
  color: #7f7f7f;
}
.intro-item__recruit li:not(:last-child) {
  margin-bottom: 5px;
}
.intro-item__recruit li img {
  max-width: 15px;
  max-height: 16px;
  min-width: 15px;
  margin-right: 10px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.quick-application form {
  padding: 50px 70px;
  background: #F3F5FD;
  border-radius: 12px;
}
.quick-application form .control-alls {
  background: #D1DDFF;
  border-radius: 5px;
}
.quick-application form > .row > [class^=col] {
  margin-bottom: 20px;
}
.quick-application form .btn-blue__alls {
  width: 100%;
  border-radius: 5px;
}
.quick-application form .up-file__prd {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  border: dashed 1px #7f7f7f;
}
.quick-application form .up-file__prd img {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.quick-application form .up-file__prd:hover, .quick-application form .up-file__prd:focus {
  background-color: #7f7f7f;
  border: solid 1px #7f7f7f;
}
.quick-application form .up-file__prd:hover img, .quick-application form .up-file__prd:focus img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.quick-application form .up-file__prd .btn-Choose__file {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: left;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1 !important;
  overflow: hidden;
  max-height: 100% !important;
  margin-right: 10px;
}

.content-recuit__detail .intro-item__recruit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.content-recuit__detail .intro-item__recruit li {
  margin-bottom: 5px;
}
.content-recuit__detail .intro-item__recruit li:not(:last-child) {
  margin-right: 20px;
}

.text-recuit__detail ul {
  margin-bottom: 20px;
}
.text-recuit__detail ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.text-recuit__detail ul li:not(:last-child) {
  margin-bottom: 10px;
}
.text-recuit__detail ul li:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5px;
  height: 5px;
  min-width: 5px;
  margin-right: 10px;
  background-color: #354c9e;
  border-radius: 1000px;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.list-leader__hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: solid 1px #C4C4C4;
  padding-bottom: 40px;
}

.item-leader__hr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 25px;
  background-color: #F6F7FD;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 20px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}
.item-leader__hr:not(:last-child) {
  margin-right: 20px;
}
.item-leader__hr > img {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
}
.item-leader__hr .intros-leader__hr {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 15px;
  font-size: 14px;
  padding-right: 70px;
}
.item-leader__hr .intros-leader__hr .title-rb__bold {
  font-size: 15px;
}

.content-recuit__detail {
  margin-top: 55px;
}