.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
body {
  line-height: 1.3;
  color: #202020;
  word-break: break-word;
  position: relative;
  font-size: 15px;
  font-family: "Roboto-Regular";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 0px;
}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: inherit;
}

a, a:focus,
input,
input:focus,
button,
button:focus,
textarea,
textarea:focus,
select,
select:focus {
  outline: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  background-clip: unset !important;
  text-decoration: none;
}

dl,
ol,
ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  cursor: pointer;
  color: inherit;
}
a:hover {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

img {
  max-width: 100%;
}

button {
  cursor: pointer;
}

/* font */
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.ttf") format("truetype"), url("../fonts/Roboto-Regular.svg#Roboto-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Medium";
  src: url("../fonts/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Medium.woff") format("woff"), url("../fonts/Roboto-Medium.ttf") format("truetype"), url("../fonts/Roboto-Medium.svg#Roboto-Medium") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Roboto-Bold";
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.ttf") format("truetype"), url("../fonts/Roboto-Bold.svg#Roboto-Bold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "SVN-Harabaras";
  src: url("../fonts/SVN-Harabaras.eot?#iefix") format("embedded-opentype"), url("../fonts/SVN-Harabaras.woff") format("woff"), url("../fonts/SVN-Harabaras.ttf") format("truetype"), url("../fonts/SVN-Harabaras.svg#SVN-Harabaras") format("svg");
  font-weight: normal;
  font-style: normal;
}
strong {
  font-family: "Roboto-Bold";
}

.swiper-container-multirow-column > .swiper-wrapper {
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
}

.swiper-container {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.swiper-container .swiper-slide {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 1200.98px) {
  .container {
    max-width: 1170px;
  }
}
/* end font */
.limit-line {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  max-height: 1.5em;
  line-height: 1.5;
}
.limit-line--2 {
  -webkit-line-clamp: 2;
  max-height: 3em;
}
.limit-line--3 {
  -webkit-line-clamp: 3;
  max-height: 4.5em;
}
.limit-line--4 {
  -webkit-line-clamp: 4;
  max-height: 6em;
}

form {
  margin-bottom: 0px;
}

/* variable */
/* search-group */
.d-nones {
  display: none;
}

/* ---- */
.gutter-0 {
  margin: 0 0px;
}
.gutter-0 > [class^=col] {
  padding: 0 0px;
}

.gutter-20 {
  margin: 0 -10px;
}
.gutter-20 > [class^=col] {
  padding: 0 10px;
}

.gutter-40 {
  margin: 0 -20px;
}
.gutter-40 > [class^=col] {
  padding: 0 20px;
}

.gutter-100 {
  margin: 0 -50px;
}
.gutter-100 > [class^=col] {
  padding: 0 50px;
}

.gutter-120 {
  margin: 0 -60px;
}
.gutter-120 > [class^=col] {
  padding: 0 60px;
}

.gutter-140 {
  margin: 0 -70px;
}
.gutter-140 > [class^=col] {
  padding: 0 70px;
}

/* header */
.header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
  z-index: 1000;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
}

.overflow-hidden {
  overflow: hidden;
}

.actives-fixed__headers {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: auto;
}

.headers-fixed {
  position: fixed !important;
  height: auto;
  width: 100%;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0s !important;
          animation-delay: 0s !important;
  z-index: 99;
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
  background-color: black !important;
}

@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.slideInDown {
  -webkit-animation-name: slideInDown;
          animation-name: slideInDown;
}

.menu ul li a {
  text-decoration: none;
}

.active-tops {
  opacity: 1 !important;
  z-index: 9 !important;
  visibility: visible !important;
}

.back-menu {
  position: absolute;
  right: 15px;
  top: 0;
  color: rgba(255, 255, 255, 0.8);
  font-size: 36px;
  font-weight: bold;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
}
.menu {
  width: 100%;
}

.logo-menu__mobile {
  display: none;
}

.box-menu__destops:hover .menu-desktop, .box-menu__destops:focus .menu-desktop {
  opacity: 1;
  visibility: visible;
}

.menu-desktop {
  position: relative;
}
.menu-desktop > ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.menu-desktop > ul > li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  /* submenu */
}
.menu-desktop > ul > li:not(:last-child) {
  margin-right: 50px;
}
.menu-desktop > ul > li:after {
  display: none;
}
.menu-desktop > ul > li:hover > ul, .menu-desktop > ul > li:focus > ul {
  display: block;
}
.menu-desktop > ul > li > a {
  color: #202020;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 14px;
  font-family: "Roboto-Medium";
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 15px;
  border-radius: 5px;
}
.menu-desktop > ul > li > a i {
  font-size: 10px;
  margin-left: 3px;
  font-style: inherit;
}
.menu-desktop > ul > li > a i:after {
  font-family: "fontawesome";
  content: "\f0d7";
}
.menu-desktop > ul > li > a:hover, .menu-desktop > ul > li > a:focus {
  color: #354c9e;
}
.menu-desktop > ul > li:first-child a {
  background-color: #354c9e;
  color: #FFFFFF;
  border: solid 1px transparent;
}
.menu-desktop > ul > li:first-child a:hover, .menu-desktop > ul > li:first-child a:focus {
  background-color: #FFFFFF;
  color: #354c9e;
  border: solid 1px #354c9e;
}
.menu-desktop > ul > li:last-child a {
  background-color: #e51e2b;
  color: #FFFFFF;
  border-radius: 1000px;
  border: solid 1px transparent;
}
.menu-desktop > ul > li:last-child a:hover, .menu-desktop > ul > li:last-child a:focus {
  background-color: #FFFFFF;
  color: #e51e2b;
  border: solid 1px #e51e2b;
}
.menu-desktop > ul > li:nth-child(3) > ul {
  background-color: #FFFFFF;
  overflow: hidden;
}
.menu-desktop > ul > li:nth-child(3) > ul:hover, .menu-desktop > ul > li:nth-child(3) > ul:focus {
  width: 495px;
}
.menu-desktop > ul > li:nth-child(3) > ul > li {
  width: 175px;
}
.menu-desktop > ul > li:nth-child(3) > ul > li:hover > ul, .menu-desktop > ul > li:nth-child(3) > ul > li:focus > ul {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}
.menu-desktop > ul > li:nth-child(3) > ul > li ul {
  left: 175px;
  top: 25px;
  width: 320px;
  background-color: #FFFFFF;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 0px;
  z-index: 0;
  overflow-y: auto;
  max-height: 100%;
}
.menu-desktop > ul > li:nth-child(3) > ul > li ul li {
  width: 50%;
  margin-bottom: 5px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.menu-desktop > ul > li:nth-child(3) > ul > li ul li:first-child {
  font-size: 10px;
  color: #767676;
  border-bottom: solid 1px #767676;
  padding-bottom: 3px;
  width: 100%;
}
.menu-desktop > ul > li:nth-child(3) > ul > li ul li a {
  padding: 0px;
  font-size: 11px;
  padding-right: 5px;
}
.menu-desktop > ul > li:nth-child(3) > ul > li ul li a:hover, .menu-desktop > ul > li:nth-child(3) > ul > li ul li a:focus {
  background-color: #FFFFFF;
  color: #354c9e;
  font-family: "Roboto-Bold";
}
.menu-desktop > ul > li > ul {
  position: absolute;
  top: 100%;
  left: 0px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 175px;
  display: none;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  background-color: #FFFFFF;
  display: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 5px 5px;
  padding-top: 25px;
}
.menu-desktop > ul > li > ul li {
  width: 100%;
}
.menu-desktop > ul > li > ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #1F1F1F;
  width: 100%;
  font-size: 13px;
  padding: 15px 30px;
  font-family: "Roboto-Regular";
}
.menu-desktop > ul > li > ul li a i {
  display: none;
}
.menu-desktop > ul > li > ul li a:hover, .menu-desktop > ul > li > ul li a:focus {
  color: #FFFFFF;
  background-color: #354c9e;
}
.menu-desktop > ul > li > ul li:hover ul, .menu-desktop > ul > li > ul li:focus ul {
  opacity: 1;
  visibility: visible;
}
.menu-desktop > ul > li > ul li ul {
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: 10;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  background-color: #FFFFFF;
}
.menu-desktop > ul > li > ul li ul li {
  width: 100%;
}
.menu-desktop > ul > li > ul li ul li a {
  width: 100%;
}

.button-phone {
  display: none;
  z-index: 10;
  position: relative;
  z-index: 100;
}

.opens-now {
  left: 0 !important;
  z-index: 9999;
}

.remove-all {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2000;
  display: none;
  top: 0;
  left: 0;
}

.out-menu {
  display: block !important;
}

.main-menu-mobile {
  display: none;
}

.btn-mobiles__menu,
.close-menu-btn {
  display: none;
}

@media all and (max-width: 991.98px) {
  .btn-mobiles__menu {
    font-family: "Roboto-Bold";
    padding: 0px 15px;
    margin-top: 20px;
    font-size: 17px;
    display: block;
  }
  .btn-mobiles__menu i {
    color: #e51e2b;
    margin-right: 5px;
  }
  .main-menu-mobile {
    position: fixed !important;
    bottom: 0 !important;
    right: -100%;
    width: 235px;
    max-width: 100%;
    height: 85%;
    z-index: 9999;
    background-color: #FFFFFF;
    display: block;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    border-top-left-radius: 5px;
  }
  .main-menu-mobile::-webkit-scrollbar {
    width: 2px;
    border-radius: 0px;
  }
  .main-menu-mobile::-webkit-scrollbar-track {
    background-color: #6E4720;
  }
  .main-menu-mobile::-webkit-scrollbar-thumb {
    background-color: #F5D182;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .main-menu-mobile::-webkit-scrollbar-thumb:hover {
    background-color: #05843E;
  }
  .main-menu-mobile {
    scrollbar-face-color: #05843E;
    scrollbar-track-color: #fff;
  }
  .main-menu-mobile .header-menu-mobile {
    text-align: center;
    padding: 15px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .close-menu-btn {
    display: block;
  }
  .main-menu-mobile .header-menu-mobile .close-menu-btn {
    cursor: pointer;
    display: block;
    padding: 8px;
    border: solid 1px white;
    width: 20px;
    height: 20px;
  }
  .main-menu-mobile .header-menu-mobile .close-menu-btn i {
    color: #fff;
    font-size: 17px;
  }
  .main-menu-mobile .header-menu-mobile .close-menu-btn:hover {
    background-color: #fff;
  }
  .main-menu-mobile .header-menu-mobile .close-menu-btn:hover i {
    color: #F7941E;
  }
  .main-menu-mobile > ul {
    max-height: 85%;
    overflow-y: auto;
  }
  .main-menu-mobile ul::-webkit-scrollbar {
    width: 2px;
    border-radius: 40px;
  }
  .main-menu-mobile > ul > li:last-child {
    margin-top: 20px;
    padding: 0px 15px;
  }
  .main-menu-mobile > ul > li:last-child > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 1000px;
    background-color: #e51e2b;
    color: #FFFFFF;
    padding: 5px 15px;
    width: 100%;
  }
  .main-menu-mobile ul::-webkit-scrollbar-track {
    background-color: #fff;
  }
  .main-menu-mobile ul::-webkit-scrollbar-thumb {
    background-color: #05843E;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .main-menu-mobile ul::-webkit-scrollbar-thumb:hover {
    background-color: #F7941E;
  }
  .main-menu-mobile ul li {
    position: relative;
    display: block;
    overflow: hidden;
  }
  .main-menu-mobile ul li a {
    display: block;
    padding: 10px 15px;
    color: #111111;
    font-size: 14px;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    /* width: calc(100% - 60px); */
  }
  .main-menu-mobile ul li a:hover,
.main-menu-mobile ul li.active a {
    color: #F7941E;
  }
  .main-menu-mobile ul li i {
    position: absolute;
    width: 30px;
    max-width: 100%;
    height: 30px;
    top: 0;
    right: 15px;
    background-color: transparent;
    color: #202020;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 100;
    opacity: 1;
    font-style: inherit;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .main-menu-mobile ul li i::before {
    font-family: "FontAwesome";
    content: "\f107";
    font-size: 17px;
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .main-menu-mobile ul li i.active::before {
    -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
  .main-menu-mobile ul li:hover i {
    opacity: 1;
  }
  .main-menu-mobile ul li ul {
    position: static;
    width: 100%;
    display: none;
    max-height: unset;
  }
  .main-menu-mobile ul li ul li ul li:first-child {
    display: none;
  }
  .main-menu-mobile ul li ul li:last-child {
    border-bottom: none;
  }
  .main-menu-mobile ul li ul li a {
    width: 100%;
    padding-left: 20px;
    font-size: 13px;
    background-color: #ebebeb;
  }
  .main-menu-mobile ul li ul li ul li a {
    padding-left: 30px;
  }
  .active-menu-mobile {
    right: 0px !important;
  }
  .bg-over-menu {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 100%;
    min-width: 20%;
    opacity: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-transition: all 0.3s ease-in-out;
    -khtml-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
  }
  .bg-over-menu.show-over {
    right: 0;
    z-index: 8888;
    opacity: 1;
  }
}
/* end menu */
.news-slogan__header {
  background-color: #354c9e;
  padding: 10px 0px;
  color: #FFFFFF;
  font-size: 13px;
}
.news-slogan__header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.news-slogan__header .container .title-slogan__header,
.news-slogan__header .container .time-slogan__heager {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.news-slogan__header .container .title-slogan__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.news-slogan__header .container .title-slogan__header:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6px;
  height: 6px;
  background-color: #e51e2b;
  border-radius: 1000px;
  margin-right: 5px;
}
.news-slogan__header .container .titles-headers {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin: 0px 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1 !important;
  overflow: hidden;
  max-height: 100% !important;
}

.logo-mains {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 60px;
}
.logo-mains img {
  max-width: 115px;
  width: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}

.bottom-headers {
  padding: 25px 0px;
}
.bottom-headers .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.bottom-headers .container .rights-bottoms__headers {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

/* end header */
/* footers */
.top-footer {
  padding: 35px 0px;
  background: -webkit-gradient(linear, left top, right top, color-stop(50%, rgb(53, 76, 158)), to(rgba(53, 76, 158, 0.0340511204)));
  background: linear-gradient(90deg, rgb(53, 76, 158) 50%, rgba(53, 76, 158, 0.0340511204) 100%);
  position: relative;
}
.top-footer:after {
  content: "";
  position: absolute;
  right: 35px;
  top: 0px;
  bottom: 0px;
  margin-top: auto;
  margin-bottom: auto;
  height: 80px;
  width: 350px;
  background: url(../images/logo-footer.png) no-repeat center;
  background-size: contain;
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);
}
.top-footer .container {
  position: relative;
  z-index: 10;
}
.top-footer .container form > .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.top-footer .container form > .row > [class^=col]:nth-child(1) {
  color: #FFFFFF;
}
.top-footer .container form > .row > [class^=col]:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.group-form__footer {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  position: relative;
}
.group-form__footer label {
  font-size: 15px;
  width: 100%;
  color: #FFFFFF;
  position: absolute;
  bottom: 100%;
  margin-bottom: 0px;
}
.group-form__footer input {
  background-color: #FFFFFF;
  border-radius: 5px;
  width: 100%;
  border: 0px;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
  height: 50px;
  padding: 5px 10px;
}

.group-btn__footer {
  margin-left: 15px;
  padding-left: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.group-btn__footer .btn-blue__alls {
  font-size: 15px;
}

.center-footer {
  padding: 75px 0px;
  position: relative;
  background: url(../images/bg-footer.png) no-repeat center;
  background-size: contain;
}
.center-footer:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
}
.center-footer .container {
  position: relative;
  z-index: 10;
}

.list-info__footer li:not(:last-child) {
  margin-bottom: 10px;
}
.list-info__footer li i {
  font-size: 12px;
  width: 15px;
  text-align: center;
  margin-right: 15px;
  color: #354c9e;
}
.list-info__footer li a:hover, .list-info__footer li a:focus {
  color: #e51e2b;
}

.list-app__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list-app__footer li:not(:last-child) {
  margin-right: 15px;
}
.list-app__footer li img {
  width: 20px;
  height: 20px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.list-app__footer li img:hover, .list-app__footer li img:focus {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.bottom-footer {
  background-color: #354c9e;
  padding: 20px 0px;
}
.bottom-footer .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 13px;
  color: #FFFFFF;
}
.bottom-footer .container a {
  color: #FFFFFF;
}
.bottom-footer .container a:hover, .bottom-footer .container a:focus {
  text-decoration: underline;
}

/* and footer */
/* forms */
.btn-blue__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #354c9e;
  background-color: #354c9e;
  color: #FFFFFF;
  font-size: 19px;
  padding: 5px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1000px;
}
.btn-blue__alls img {
  margin-left: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-blue__alls:hover, .btn-blue__alls:focus {
  background-color: #FFFFFF;
  color: #354c9e !important;
  border-color: #354c9e;
}
.btn-blue__alls:hover img, .btn-blue__alls:focus img {
  -webkit-filter: brightness(0) saturate(100%) invert(29%) sepia(14%) saturate(3775%) hue-rotate(195deg) brightness(96%) contrast(92%);
          filter: brightness(0) saturate(100%) invert(29%) sepia(14%) saturate(3775%) hue-rotate(195deg) brightness(96%) contrast(92%);
}

.btn-red__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #e51e2b;
  background-color: #e51e2b;
  color: #FFFFFF;
  font-size: 15px;
  padding: 5px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1000px;
  font-family: "Roboto-Medium";
}
.btn-red__alls img {
  margin-left: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-red__alls:hover, .btn-red__alls:focus {
  background-color: #FFFFFF;
  color: #e51e2b !important;
  border-color: #e51e2b;
}
.btn-red__alls:hover img, .btn-red__alls:focus img {
  -webkit-filter: brightness(0) saturate(100%) invert(19%) sepia(96%) saturate(2429%) hue-rotate(331deg) brightness(101%) contrast(97%);
          filter: brightness(0) saturate(100%) invert(19%) sepia(96%) saturate(2429%) hue-rotate(331deg) brightness(101%) contrast(97%);
}

.btn-dowload__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px transparent;
  background-color: #FFFFFF;
  color: #3f3f3f;
  font-size: 15px;
  padding: 5px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1000px;
  font-family: "Roboto-Medium";
  webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.29) !important;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.29) !important;
          box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.29) !important;
}
.btn-dowload__alls img {
  margin-left: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-filter: brightness(0) saturate(100%) invert(20%) sepia(38%) saturate(3743%) hue-rotate(219deg) brightness(94%) contrast(84%);
          filter: brightness(0) saturate(100%) invert(20%) sepia(38%) saturate(3743%) hue-rotate(219deg) brightness(94%) contrast(84%);
}
.btn-dowload__alls:hover, .btn-dowload__alls:focus {
  background-color: #354c9e;
  color: #FFFFFF !important;
  border-color: #354c9e;
}
.btn-dowload__alls:hover img, .btn-dowload__alls:focus img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.btn-blue__trans {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-family: "Roboto-Medium";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #354c9e;
  background-color: #FFFFFF;
  color: #354c9e;
  font-size: 19px;
  padding: 5px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1000px;
}
.btn-blue__trans img {
  margin-left: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-blue__trans:hover, .btn-blue__trans:focus {
  background-color: #354c9e;
  color: #FFFFFF;
  border-color: #354c9e;
}
.btn-blue__trans:hover img, .btn-blue__trans:focus img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

.input-alls {
  height: 50px;
}

.control-alls {
  width: 100%;
  background: #FFFFFF;
  border: 0px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
}

.breadcrumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 0px;
  border-radius: 0px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: transparent;
  padding-top: 25px;
}
.breadcrumb .active {
  color: #707070 !important;
}
.breadcrumb li {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.breadcrumb li:not(:last-child):after {
  content: "";
  width: 4px;
  height: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 5px;
  border-radius: 1000px;
  background-color: #707070;
}
.breadcrumb li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  color: #707070;
}
.breadcrumb li a:hover, .breadcrumb li a:focus {
  color: #212121;
}

.pagenigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.pagenigation > a,
.pagenigation strong {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: 22px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  background-color: transparent;
  border-radius: 0px;
  color: #767676;
  margin-bottom: 5px;
  border-color: 0px;
  font-weight: 400;
  padding: 3px;
  border: 0px;
  position: relative;
}
.pagenigation > a img,
.pagenigation strong img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pagenigation > a:not(:last-child),
.pagenigation strong:not(:last-child) {
  margin-right: 20px;
}
.pagenigation > a:hover, .pagenigation > a:focus,
.pagenigation strong:hover,
.pagenigation strong:focus {
  font-family: "Roboto-Bold";
  color: #354c9e;
}
.pagenigation .active {
  font-family: "Roboto-Bold";
  color: #354c9e;
}

.check-box__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: auto;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent !important;
}
.check-box__alls label {
  margin-bottom: 0px;
  margin-left: 10px;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.check-box__alls input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 9;
  margin: 0px;
}
.check-box__alls .checkmark {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  background-color: transparent;
  border: solid 1px #E0E0E0;
  overflow: hidden;
}
.check-box__alls .checkmark:hover:after, .check-box__alls .checkmark:focus:after {
  opacity: 1 !important;
  visibility: visible !important;
}
.check-box__alls .checkmark:after {
  font-family: "fontawesome";
  content: "\f00c";
  font-size: 12px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 18px;
  height: 17px;
  color: #333;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.check-box__alls input:checked ~ .checkmark:after {
  opacity: 1;
  visibility: visible;
}

.sl-btn-alls {
  position: relative;
}
.sl-btn-alls .swiper-button-prev,
.sl-btn-alls .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.sl-btn-alls .group-btns__showss {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 1px;
  width: 100%;
  z-index: 10;
  top: 50%;
  left: 0px;
  font-size: 24px;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.sl-btn-alls .group-btns__showss .showss-button-prev,
.sl-btn-alls .group-btns__showss .showss-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1000px;
  padding: 0px;
  color: #000000;
  font-size: 28px;
}
.sl-btn-alls .group-btns__showss .showss-button-prev img,
.sl-btn-alls .group-btns__showss .showss-button-next img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.sl-btn-alls .group-btns__showss .showss-button-prev:hover, .sl-btn-alls .group-btns__showss .showss-button-prev:focus,
.sl-btn-alls .group-btns__showss .showss-button-next:hover,
.sl-btn-alls .group-btns__showss .showss-button-next:focus {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.sl-btn-alls .group-btns__showss .showss-button-prev {
  left: -60px;
}
.sl-btn-alls .group-btns__showss .showss-button-next {
  right: -60px;
}

.sl-panigation__alls .swiper-pagination .swiper-pagination-bullet {
  margin: 0px !important;
  width: 10px;
  height: 10px;
  border-radius: 1000px;
  border: solid 1px #FF7171;
  background-color: #FFFFFF;
  opacity: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.sl-panigation__alls .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 10px !important;
}
.sl-panigation__alls .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #FF7171;
}

.btn-see__more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #354c9e;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 1px transparent;
  font-size: 16px;
}
.btn-see__more:hover, .btn-see__more:focus {
  border-bottom: solid 1px #354c9e;
}

.top-new__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.item-new__main {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.item-new__main .img-new__main > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 65%;
  overflow: hidden;
  border-radius: 10px;
}
.item-new__main .img-new__main > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-new__main .intro-new__main {
  color: #3f3f3f;
  background-color: #FFFFFF;
  padding: 20px;
  padding-right: 20%;
  text-align: justify;
}
.item-new__main .intro-new__main .title-new__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.item-new__main .intro-new__main .title-new__main:hover, .item-new__main .intro-new__main .title-new__main:focus {
  color: #354c9e;
}
.item-new__main .intro-new__main .see-item__new {
  margin-left: auto;
  margin-top: 15px;
}

.see-item__new {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e51e2b;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.partner-main {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.item-patner__main {
  margin-bottom: 50px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.item-patner__main img {
  -webkit-filter: brightness(0) saturate(100%) invert(53%) sepia(2%) saturate(0%) hue-rotate(13deg) brightness(94%) contrast(93%);
          filter: brightness(0) saturate(100%) invert(53%) sepia(2%) saturate(0%) hue-rotate(13deg) brightness(94%) contrast(93%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.item-patner__main:hover img, .item-patner__main:focus img {
  -webkit-filter: unset;
          filter: unset;
}

.feekback-main {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding: 100px 0px;
  background-color: #354c9e;
}
.feekback-main:after {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: url(../images/bg-feekback-main.png) no-repeat center;
  background-size: cover;
}
.feekback-main .container {
  position: relative;
  z-index: 10;
}
.feekback-main .text-feedback__main {
  color: #FFFFFF;
  text-align: justify;
}
.feekback-main .swiper-button-prev,
.feekback-main .swiper-button-next {
  opacity: 0;
  visibility: hidden;
}
.feekback-main .group-btns__showss {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 60px;
}
.feekback-main .group-btns__showss .showss-button-prev,
.feekback-main .group-btns__showss .showss-button-next {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  width: 45px;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  cursor: pointer;
  border-radius: 1000px;
  padding: 5px;
  border: solid 1px #FFFFFF;
}
.feekback-main .group-btns__showss .showss-button-prev img,
.feekback-main .group-btns__showss .showss-button-next img {
  width: 100%;
  height: 100%;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.feekback-main .group-btns__showss .showss-button-prev:hover, .feekback-main .group-btns__showss .showss-button-prev:focus,
.feekback-main .group-btns__showss .showss-button-next:hover,
.feekback-main .group-btns__showss .showss-button-next:focus {
  background-color: #FFFFFF;
}
.feekback-main .group-btns__showss .showss-button-prev:hover img, .feekback-main .group-btns__showss .showss-button-prev:focus img,
.feekback-main .group-btns__showss .showss-button-next:hover img,
.feekback-main .group-btns__showss .showss-button-next:focus img {
  -webkit-filter: brightness(0) saturate(100%) invert(20%) sepia(38%) saturate(3743%) hue-rotate(219deg) brightness(94%) contrast(84%);
          filter: brightness(0) saturate(100%) invert(20%) sepia(38%) saturate(3743%) hue-rotate(219deg) brightness(94%) contrast(84%);
}
.feekback-main .group-btns__showss .showss-button-next {
  margin-left: 30px;
}
.feekback-main .group-btns__showss .showss-button-next img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.feekback-main .feedback-slide__main {
  width: 135%;
}
.feekback-main .feedback-slide__main .swiper-slide {
  width: 300px;
}
.feekback-main .feedback-slide__main .item-feedback__main {
  background-color: #FFFFFF;
  border-radius: 10px;
  padding: 25px;
  font-size: 17px;
  color: #7f7f7f;
}
.feekback-main .feedback-slide__main .item-feedback__main > img {
  width: 30px;
  height: auto;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-bottom: 25px;
}
.feekback-main .feedback-slide__main .item-feedback__main .box-customer__feedback {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.feekback-main .feedback-slide__main .item-feedback__main .box-customer__feedback img {
  width: 80px;
  height: 80px;
  border-radius: 1000px;
  -o-object-fit: cover;
     object-fit: cover;
}
.feekback-main .feedback-slide__main .item-feedback__main .box-customer__feedback .info-customer__feedback {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 10px;
}

.contact-main {
  background-color: #f3f5fd;
  max-width: 850px;
  margin-left: auto;
  margin-right: auto;
  padding: 0px 20px;
  padding-top: 40px;
  padding-bottom: 40px;
}
.contact-main form {
  max-width: 530px;
  margin-left: auto;
  margin-right: auto;
}
.contact-main .control-alls {
  background-color: #d1ddff;
  color: #7f7f7f;
}
.contact-main .row > [class^=col] {
  margin-bottom: 15px;
}
.contact-main .btn-blue__alls {
  width: 100%;
  max-width: 270px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.check-contact__alls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  height: 100%;
}
.check-contact__alls label {
  background-color: #354c9e;
  color: #FFFFFF;
  padding: 5px 20px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  min-height: 60px;
  border-radius: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 18px;
  font-family: "Roboto-Bold";
  height: 100%;
}
.check-contact__alls input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  z-index: 9;
  margin: 0px;
}
.check-contact__alls input:checked ~ label {
  background-color: #e51e2b;
}

.up-file__prd {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  width: 100%;
  position: relative;
  background-color: #c3c3c3;
  color: #3f3f3f;
  border-radius: 5px;
  min-height: 50px;
  font-size: 16px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding: 5px 20px;
}
.up-file__prd:hover, .up-file__prd:focus {
  background-color: #000000;
  color: #FFFFFF;
}
.up-file__prd .input-files {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
}

.info-contact__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 635px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
.info-contact__main li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Roboto-Medium";
  margin-left: auto;
  margin-right: auto;
}
.info-contact__main li i {
  color: #e51e2b;
  margin-right: 20px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}
.info-contact__main li a {
  color: #7f7f7f;
  font-family: "Roboto-Regular";
  margin-left: 5px;
}
.info-contact__main li a:hover, .info-contact__main li a:focus {
  color: #05286D;
}

.text-top__main {
  max-width: 460px;
  margin-left: auto;
  margin-right: auto;
  color: #7f7f7f;
}

.list-parameter__reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  color: #3f3f3f;
}
.list-parameter__reason .items-parameter__reason {
  max-width: 250px;
}

.register-sevice__main {
  width: 100%;
  margin: 0px auto;
  text-align: center;
  padding: 25px 100px;
  max-width: 610px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 3px 3px 9px 0px rgba(96, 96, 96, 0.3) !important;
  box-shadow: 3px 3px 9px 0px rgba(96, 96, 96, 0.3) !important;
  border-radius: 10px;
}
.register-sevice__main .btn-blue__trans {
  margin: 0px auto;
  width: 100%;
  max-width: 300px;
}

.item-prj__main {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 30px;
}
.item-prj__main:hover .videos-prj__main > a, .item-prj__main:focus .videos-prj__main > a {
  opacity: 1;
}
.item-prj__main .videos-prj__main > img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
}
.item-prj__main .videos-prj__main > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 65%;
  z-index: 5;
  opacity: 0;
}
.item-prj__main .videos-prj__main > a:after {
  font-family: "fontawesome";
  content: "\f0da";
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  z-index: 5;
  width: 55px;
  height: 55px;
  border-radius: 1000px;
  color: #FFFFFF;
  font-size: 46px;
  background-color: rgba(53, 76, 158, 0.65);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
}
.item-prj__main .videos-prj__main > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-prj__main .intros-prj__main {
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  z-index: 10;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgba(53, 76, 158, 0.63);
  color: #FFFFFF;
}
.item-prj__main .intros-prj__main .title-prj__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #FFFFFF;
}
.item-prj__main .intros-prj__main .title-prj__main:hover, .item-prj__main .intros-prj__main .title-prj__main:focus {
  text-decoration: underline;
}
.item-prj__main .intros-prj__main .btn-prj__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-prj__main .intros-prj__main .btn-prj__item .item-btn__prj:not(:last-child) {
  margin-right: 10px;
}
.item-prj__main .intros-prj__main .btn-prj__item .item-btn__prj i {
  margin-left: 5px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.item-prj__main .intros-prj__main .btn-prj__item .item-btn__prj:hover i, .item-prj__main .intros-prj__main .btn-prj__item .item-btn__prj:focus i {
  color: #e51e2b;
}

.banner-sevice__page {
  position: relative;
  padding: 130px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 530px;
}
.banner-sevice__page img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  left: 0px;
  top: 0px;
}
.banner-sevice__page .container {
  z-index: 10;
  position: relative;
}
.banner-sevice__page .container .intro-banner__sevice {
  max-width: 45%;
  color: #FFFFFF;
}
.banner-sevice__page .container .intro-banner__sevice .btn-blue__alls {
  margin-top: 120px;
}

.items-new__page {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}
.items-new__page .img-new__page > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 65%;
  border-radius: 5px;
  overflow: hidden;
}
.items-new__page .img-new__page > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.items-new__page .intros-new__page {
  padding: 20px;
  color: #7f7f7f;
}
.items-new__page .intros-new__page .introduction-new__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 5px;
}
.items-new__page .intros-new__page .title-new__pages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #202020;
  margin-bottom: 5px;
}
.items-new__page .intros-new__page .title-new__pages:hover, .items-new__page .intros-new__page .title-new__pages:focus {
  color: #354c9e;
}
.items-new__page .intros-new__page .see-new__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e51e2b;
  margin-top: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  border-bottom: solid 1px transparent;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.items-new__page .intros-new__page .see-new__page:hover, .items-new__page .intros-new__page .see-new__page:focus {
  border-bottom: solid 1px red;
}
.items-new__page .intros-new__page .see-new__page img {
  margin-left: 5px;
  -webkit-filter: brightness(0) saturate(100%) invert(21%) sepia(83%) saturate(4571%) hue-rotate(346deg) brightness(91%) contrast(97%);
          filter: brightness(0) saturate(100%) invert(21%) sepia(83%) saturate(4571%) hue-rotate(346deg) brightness(91%) contrast(97%);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.tag-prj__mains {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0px auto;
}
.tag-prj__mains li:not(:last-child) {
  margin-right: 30px;
}
.tag-prj__mains li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 5px 10px;
  min-width: 130px;
  background-color: #d1ddff;
  border-radius: 5px;
  font-size: 13px;
  font-family: "Roboto-Medium";
}
.tag-prj__mains li a:hover, .tag-prj__mains li a:focus {
  background-color: #e51e2b;
  color: #FFFFFF;
}
.tag-prj__mains li .active {
  background-color: #e51e2b;
  color: #FFFFFF !important;
}

.img-design__trademark img {
  width: 100%;
}

.titles-center__alls {
  text-align: center;
}

.titles-transform__alls {
  text-transform: uppercase;
}

.title-rb__bold {
  font-family: "Roboto-Bold";
}

.title-rb__medium {
  font-family: "Roboto-Medium";
}

.title-hara {
  font-family: "SVN-Harabaras";
}

.color-text__second {
  color: #606060;
}

.color-text__third {
  color: #7f7f7f;
}

.color-penta {
  color: #3f3f3f;
}

.color-blues {
  color: #354c9e;
}

.color-white {
  color: #FFFFFF;
}

.color-red {
  color: #e51e2b;
}

.fs-13s {
  font-size: 13px;
}

.fs-14s {
  font-size: 14px;
}

.fs-15s {
  font-size: 15px;
}

.fs-16s {
  font-size: 16px;
}

.fs-17s {
  font-size: 17px;
}

.fs-18s {
  font-size: 18px;
}

.fs-19s {
  font-size: 19px;
}

.fs-20s {
  font-size: 20px;
}

.fs-21s {
  font-size: 21px;
}

.fs-22s {
  font-size: 22px;
}

.fs-25s {
  font-size: 25px;
}

.fs-26s {
  font-size: 26px;
}

.fs-31s {
  font-size: 31px;
}

.fs-36s {
  font-size: 36px;
}

.fs-38s {
  font-size: 38px;
}

.fs-40s {
  font-size: 40px;
}

.fs-78s {
  font-size: 78px;
}

.mb-5s {
  margin-bottom: 5px;
}

.mb-10s {
  margin-bottom: 10px;
}

.mb-15s {
  margin-bottom: 15px;
}

.mb-20s {
  margin-bottom: 20px;
}

.mb-25s {
  margin-bottom: 25px;
}

.mb-30s {
  margin-bottom: 30px;
}

.mb-35s {
  margin-bottom: 35px;
}

.mb-40s {
  margin-bottom: 40px;
}

.mb-50s {
  margin-bottom: 50px;
}

.mb-60s {
  margin-bottom: 60px;
}

.mb-65s {
  margin-bottom: 65px;
}

.mb-70s {
  margin-bottom: 70px;
}

.mb-80s {
  margin-bottom: 80px;
}

.mb-90s {
  margin-bottom: 90px;
}

.mb-100s {
  margin-bottom: 100px;
}

.mb-115s {
  margin-bottom: 115px;
}

.mb-130s {
  margin-bottom: 130px;
}

.mb-150s {
  margin-bottom: 150px;
}

.mb-190s {
  margin-bottom: 190px;
}

.top-center__footer .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-contact__footer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
}

.top-contact__footer a:hover,
.top-contact__footer a:focus {
  color: #e51e2b;
}

.top-contact__footer img {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

.img-certification__footers img {
  margin-bottom: 10px;
  max-width: 100%;
}

.modal-contact .modal-dialog {
  width: 700px;
  max-width: 90%;
}
.modal-contact .modal-dialog .close {
  position: absolute;
  z-index: 10;
  right: 10px;
  top: 10px;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.modal-contact .modal-dialog .contact-main {
  padding: 0px;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
/* end variable */