.a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* :not(:last-child) */
/* :nth-child(1n+0) */
.items-brand__partner img {
  width: 100%;
  height: 100%;
  -o-object-fit: sacle-down;
     object-fit: sacle-down;
}

.sl-brand__partner .swiper-wrapper {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.prj-brand__pages .btn-blue__alls {
  margin-left: auto;
  margin-right: auto;
}

.design-logo__sevice .text-top__main {
  max-width: 790px;
}

.item-standard__all {
  padding: 70px 50px;
  text-align: center;
  background: #F3F5FD;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  color: #7f7f7f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  margin-bottom: 20px;
}
.item-standard__all:hover, .item-standard__all:focus {
  background-color: #354c9e;
}
.item-standard__all:hover .img-item__standard, .item-standard__all:focus .img-item__standard {
  background-color: #FFFFFF;
}
.item-standard__all:hover .intros-item__standard, .item-standard__all:focus .intros-item__standard {
  color: #FFFFFF;
}
.item-standard__all:hover .intros-item__standard .title-rb__bold, .item-standard__all:focus .intros-item__standard .title-rb__bold {
  color: #FFFFFF;
}
.item-standard__all .img-item__standard {
  width: 120px;
  height: 120px;
  border-radius: 1000px;
  border: solid 1px #354c9e;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}
.item-standard__all .img-item__standard img {
  width: auto;
  height: auto;
}

.process-design__logo {
  padding-top: 74px;
  padding-bottom: 58px;
  position: relative;
}
.process-design__logo .container {
  position: relative;
  z-index: 10;
}
.process-design__logo > img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.items-process__all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 10;
  margin-bottom: 20px;
}
.items-process__all .title-items__process {
  text-align: center;
  color: #7f7f7f;
  margin-right: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.items-process__all .title-items__process:after {
  content: "";
  height: 100%;
  width: 1px;
  background-color: #767676;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 10px;
}
.items-process__all .title-items__process .number-items__process {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 1000px;
  border: solid 1px #e51e2b;
  font-size: 32px;
  font-family: "Roboto-Bold";
  color: #FFFFFF;
  position: relative;
  margin-bottom: 10px;
}
.items-process__all .title-items__process .number-items__process:after {
  content: "";
  position: absolute;
  width: 80%;
  height: 80%;
  border-radius: 1000px;
  background-color: #e51e2b;
  z-index: -1;
}
.items-process__all .intro-items__process {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background-color: #FFFFFF;
  border-radius: 12px;
  padding: 30px 20px;
}

.items-design__trademark .title-design__trademark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.items-design__trademark .title-design__trademark:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 13px;
  height: 13px;
  min-width: 13px;
  margin-right: 10px;
  background: url(../images/cicle-titles.png) no-repeat center;
  background-size: contain;
  margin-top: 5px;
}
.items-design__trademark p {
  text-align: justify;
  color: #7f7f7f;
}

.list-design__capacity .item-standard__all {
  padding: 15px;
  padding-top: 40px;
  padding-bottom: 70px;
  position: relative;
}
.list-design__capacity .item-standard__all:hover:after, .list-design__capacity .item-standard__all:focus:after {
  -webkit-filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(69deg) brightness(114%) contrast(110%);
          filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(69deg) brightness(114%) contrast(110%);
}
.list-design__capacity .item-standard__all:after {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 31px;
  height: 31px;
  background: url(../images/check-item-standard-all.png) no-repeat center;
  background-size: contain;
  margin-top: 5px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.list-standard__all .row {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-design__catalouge .item-standard__all {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #C3C3C3;
  margin-bottom: 20px;
}

.top-design__catalouge {
  padding: 40px 0px;
  background: url(../images/bg-top-design-catalouge.png) no-repeat center top;
  background-size: cover;
}
.top-design__catalouge .item-standard__all {
  background-color: #FFFFFF;
}
.top-design__catalouge .item-standard__all:hover, .top-design__catalouge .item-standard__all:focus {
  background-color: #354c9e;
}

.items-benefit__brochure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.items-benefit__brochure > img {
  width: auto;
  height: 50px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
}
.items-benefit__brochure .intro-benefit__brochure {
  width: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 50px;
  color: #7f7f7f;
}

.img-content__sevice {
  max-width: 925px;
  margin-left: auto;
  margin-right: auto;
}

.advise-maketing__pages {
  padding: 50px 0px;
  background-size: cover;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #FFFFFF;
  min-height: 415px;
  position: relative;
}
.advise-maketing__pages > img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.advise-maketing__pages .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  z-index: 10;
  position: relative;
}
.advise-maketing__pages .title-hara {
  max-width: 560px;
}
.advise-maketing__pages p {
  max-width: 350px;
}
.advise-maketing__pages .btn-red__alls {
  min-height: 50px;
  font-size: 18px;
  margin-top: 60px;
}

.list-subject__marketing {
  max-width: 755px;
  margin-left: auto;
  margin-right: auto;
}
.list-subject__marketing > .row > [class^=col] {
  margin-bottom: 20px;
}
.list-subject__marketing > .row > [class^=col]:nth-child(1) .items-subject__marketing {
  border-radius: 40px 40px 0px 40px;
}
.list-subject__marketing > .row > [class^=col]:nth-child(2) .items-subject__marketing {
  border-radius: 40px 40px 40px 0px;
}
.list-subject__marketing > .row > [class^=col]:nth-child(3) .items-subject__marketing {
  border-radius: 40px 0px 40px 40px;
}
.list-subject__marketing > .row > [class^=col]:nth-child(4) .items-subject__marketing {
  border-radius: 0px 40px 40px 40px;
}

.items-subject__marketing {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  padding: 60px;
  padding-top: 15px;
  text-align: center;
  height: 100%;
}
.items-subject__marketing img {
  max-height: 240px;
  -o-object-fit: scale-down;
     object-fit: scale-down;
  margin-bottom: 15px;
}

.subject-marketing .register-sevice__main {
  color: #767676;
}
.subject-marketing .top-design__catalouge {
  padding-bottom: 70px;
}
.subject-marketing .register-sevice__main {
  margin-top: -60px;
}

.brand-partner__pages {
  background-color: #F8F8F8;
  padding: 10px 0px;
}
.brand-partner__pages .row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.manufacturing-videos__marketing .item-standard__all {
  background-color: #FFFFFF;
  padding: 30px 20px;
}
.manufacturing-videos__marketing .item-standard__all:hover, .manufacturing-videos__marketing .item-standard__all:focus {
  background-color: #354c9e;
}
.manufacturing-videos__marketing .item-standard__all:hover ul li:before, .manufacturing-videos__marketing .item-standard__all:focus ul li:before {
  background-color: #FFFFFF;
}

.list-manufacturing__videos {
  text-align: left;
}
.list-manufacturing__videos li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list-manufacturing__videos li:not(:last-child) {
  margin-bottom: 5px;
}
.list-manufacturing__videos li:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 5px;
  height: 5px;
  min-width: 5px;
  margin-right: 10px;
  background-color: #354c9e;
  border-radius: 1000px;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.banner-production__media {
  position: relative;
  padding: 180px 0px;
}
.banner-production__media img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner-production__media:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0px;
  top: 0px;
  z-index: 5;
  background: rgba(32, 32, 32, 0.2);
}
.banner-production__media .container {
  position: relative;
  z-index: 10;
  color: #FFFFFF;
  text-align: center;
}

.title-digital__maketing {
  background-color: #F8F8F8;
  padding: 20px 0px;
  text-align: center;
}

.list-advise__trademark .item-standard__all {
  position: relative;
  margin-bottom: 30px;
}
.list-advise__trademark .item-standard__all .number-standard__advise {
  position: absolute;
  left: 25px;
  top: 25px;
  z-index: 10;
  font-size: 34px;
  font-family: "Roboto-Bold";
  color: #e4e5ea;
}
.list-advise__trademark .item-standard__all .list-manufacturing__videos {
  margin-top: 20px;
}

.list-element__trademark .items-benefit__brochure {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.list-element__trademark .items-benefit__brochure .number-element__trademark {
  font-size: 34px;
  color: #ffffff;
}

.img-marquest__face {
  width: 100%;
  text-align: center;
}

.diversity-mar__facebook {
  position: relative;
}
.diversity-mar__facebook .btn-red__alls {
  position: absolute;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
}

.all-marcom__sevice {
  background-color: #F3F5FD;
  padding: 50px 0px;
}

.service-charge__marcom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.all-marcom__sevice .row {
  max-width: 750px;
  margin: auto;
}

.box-marcom__sevice {
  padding: 20px 40px;
  text-align: center;
  color: #7F7F7F;
  border-radius: 12px;
  background-color: #FFFFFF;
  border: 1px solid #D9D9D9;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  margin-top: 20px;
}
.box-marcom__sevice .btn-marcom__sevice {
  width: 100%;
  max-width: 90%;
  margin: auto;
}
.box-marcom__sevice .tag-marcom__sevice,
.box-marcom__sevice .medium-marcom__sevice {
  margin: auto;
  margin-bottom: 20px;
  min-width: 60%;
}
.box-marcom__sevice:hover, .box-marcom__sevice:focus {
  background-color: #354c9e;
  border: 1px solid #354c9e;
  color: #FFFFFF;
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
}
.box-marcom__sevice:hover .title-rb__bold, .box-marcom__sevice:focus .title-rb__bold {
  color: #FFFFFF;
}

.list-marcom__service {
  text-align: left;
  padding: 20px;
  background: #F3F5FD;
  border-radius: 11px;
  color: #7F7F7F;
}
.list-marcom__service li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.list-marcom__service li:before {
  content: "";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15px;
  min-width: 15px;
  height: 15px;
  margin-top: 3px;
  margin-right: 5px;
  background: url(../images/before-list-marcom.png) no-repeat center;
  background-size: contain;
}
.list-marcom__service li:not(:last-child) {
  margin-bottom: 10px;
}

.btn-marcom__sevice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 40px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: solid 1px #F3F5FD;
  background-color: #F3F5FD;
  color: #354c9e;
  font-size: 15px;
  padding: 5px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1000px;
  font-family: "Roboto-Medium";
}
.btn-marcom__sevice img {
  margin-left: 10px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn-marcom__sevice:hover, .btn-marcom__sevice:focus {
  background-color: #FFFFFF;
  color: #e51e2b !important;
  border-color: #e51e2b;
}
.btn-marcom__sevice:hover img, .btn-marcom__sevice:focus img {
  -webkit-filter: brightness(0) saturate(100%) invert(19%) sepia(96%) saturate(2429%) hue-rotate(331deg) brightness(101%) contrast(97%);
          filter: brightness(0) saturate(100%) invert(19%) sepia(96%) saturate(2429%) hue-rotate(331deg) brightness(101%) contrast(97%);
}

.list-faq__marcom > li:not(:last-child) {
  margin-bottom: 40px;
}
.list-faq__marcom > li .btn-mar__faq {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto-bold";
  color: #000000;
  margin-bottom: 20px;
}
.list-faq__marcom > li .btn-mar__faq span {
  color: #7F7F7F;
  font-size: 14px;
}
.list-faq__marcom > li .btn-mar__faq span i:nth-child(2) {
  display: none;
}
.list-faq__marcom > li .info-mar__faq {
  list-style: disc;
  padding-left: 20px;
  display: none;
}
.list-faq__marcom > li .info-mar__faq li {
  color: #7F7F7F;
}

.active-questions .icons-faq__marcom i:nth-child(1) {
  display: none;
}
.active-questions .icons-faq__marcom i:nth-child(2) {
  display: block !important;
}

.item-prj__marcom {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
}
.item-prj__marcom .img-prj__marcom {
  border-radius: 11px;
  overflow: hidden;
  margin-bottom: 15px;
}
.item-prj__marcom .img-prj__marcom > a {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 1px;
  padding-top: 100%;
}
.item-prj__marcom .img-prj__marcom > a img {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-prj__marcom .intros-prj__marcom {
  padding: 0px 10px;
}
.item-prj__marcom .intros-prj__marcom .title-prj__marcom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.tag-marcom__sevice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #e51e2b;
  color: #FFFFFF;
  font-size: 15px;
  padding: 5px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1000px;
  font-family: "Roboto-bold";
}

.medium-marcom__sevice {
  border: solid 1px #D9D9D9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFFFFF;
  color: #354c9e;
  font-size: 15px;
  padding: 5px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 1000px;
  font-family: "Roboto-bold";
}

.img-default__center img {
  min-width: 100% !important;
}