$growns:#751113;
$growns-2s:#A80610;
$growns-3s:#C9252C;



$blues:#05286D;
$blues-2:#16C79A;
$blues-3:#05A9D7;
$blues-4:#4B48EF;
$oranges:#F59E0B;
$greens:#10B981;
$pinks:#FF7171;
$creams:#F2EFEC;
$smokdes:#8298AB;
$yellows:#FFC000;




$text:#202020;
$text-second:#606060;
$text-third:#7f7f7f;
$text-penta:#3f3f3f;

$red: #e51e2b;

$blue:#354c9e;



a {

    &:hover,
    &:focus {}
}


.a {
    position: relative;
    display: flex;
    width: 100%;
    height: 1px;
    padding-top: 100%;

    img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* :not(:last-child) */
/* :nth-child(1n+0) */