@import 'base';


.banner-capacity {
    display: flex;
    align-items: center;
    justify-content: center;

    >.container {
        position: absolute;
    }

    .intros-banner__capacity {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: $text-third;
    }

    .img-banner__capacity {
        width: 50%;
        overflow: hidden;

        img {
            width: 100%;
            object-fit: cover;
            min-height: 400px;
            transform: scale(1.1);
        }
    }
}

.banner-capacity__left {
    .img-banner__capacity {
        margin-left: auto;
    }

    .intros-banner__capacity {
        padding-right: 60px;
    }

}

.banner-capacity__right {
    background-color: #354c9e;

    .img-banner__capacity {
        margin-right: auto;
    }


    .intros-banner__capacity {
        padding-left: 60px;
        margin-left: auto;
        color: #FFFFFF;

        .title-hara {
            color: #FFFFFF;
        }

    }

}


.items-capacity__file {
    overflow: hidden;
    border-radius: 10px;

    .img-capacity__file {
        position: relative;
        display: flex;
        width: 100%;
        height: 1px;
        padding-top: 85%;

        img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .intros-capacity__file {
        padding: 30px 20px;
        text-align: center;

        .btn-dowload__alls {
            margin-left: auto;
            margin-right: auto;
        }
    }
}

.slide-capacity__file {

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
        visibility: hidden;
    }

    .group-btns__showss {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: fit-content;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;

        .showss-button-prev,
        .showss-button-next {
            transition: all 0.3s;
            position: relative;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            border-radius: 1000px;
            padding: 5px;
            border: solid 1px $blue;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
                filter: brightness(0) saturate(100%) invert(20%) sepia(38%) saturate(3743%) hue-rotate(219deg) brightness(94%) contrast(84%);
            }

            &:hover,
            &:focus {
                background-color: $blue;

                img {
                    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(69deg) brightness(114%) contrast(110%);
                }
            }

        }

        .showss-button-next {
            margin-left: 30px;
            transform: rotate(180deg);
        }
    }
}

.banner-map__capacity {
    img {
        width: 100%;
        min-height: 300px;
        object-fit: cover;
    }
}

.banner-about__pages {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    >.container {
        position: absolute;
        width: 100%;
        height: fit-content;
        top: 20%;
        z-index: 10;

        .intros-banner__about {
            width: 55%;
            color: #FFFFFF;
            text-align: justify;

            p {
                width: 100%;
            }
        }
    }

}

.img-banner__about {
    position: relative;
    display: flex;
    width: 100%;
    height: 1px;
    padding-top: 35%;

    img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.reason-about .text-top__main {
    max-width: 780px;
}

.img-why__pages {
    text-align: center;
}

.why-about__page {
    .text-top__main {
        max-width: 750px;
        color: #FFFFFF;
    }

    .register-sevice__main {
        color: #606060;
    }
}

.content-why__page {
    padding-top: 70px;
    margin-top: -70px;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 150%;
        background: url(../images/bg-content-why-page.png) no-repeat center;
        background-size: cover;
    }

    .container {
        position: relative;
        z-index: 10;
    }
}


.item-why__page {
    text-align: center;
    color: #FFFFFF;

    img {
        margin-bottom: 10px;
        width: 60px;
        height: 60px;
        object-fit: scale-down;
    }

    .title-why__page {
        padding: 0px 20%;
    }
}

.list-core__sevice {
    position: relative;

    &:after {
        content: '';
        display: flex;
        position: absolute;
        left: 15px;
        bottom: 0px;
        width: 1px;
        height: 100%;
        background-color: #e4e4e4;
    }

}

.items-core__sevice {
    display: flex;

    &:before {
        content: '';
        display: flex;
        width: 30px;
        height: 30px;
        background: url(../images/cicle-titles.png) no-repeat center;
        background-size: 100% 100%;
        margin-right: 30px;
        position: relative;
        z-index: 10;
    }

    &:not(:last-child) {
        margin-bottom: 30px;
    }

    .content-items__core {
        width: 100%;
        flex: 1;
        display: flex;
        border-radius: 10px;
        overflow: hidden;
        background-color: #f3f5fd;

        .text-items__core {
            width: 100%;
            flex: 1;
            padding: 25px 30px;
            color: $text-second;
        }

        .img-items__core>span {
            position: relative;
            display: flex;
            width: 300px;
            height: 1px;
            padding-top: 67%;
            overflow: hidden;
            border-radius: 10px;
            margin-left: 30px;

            img {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .tag-prj__mains li a {
            min-width: 110px;
            color: $text-penta;
            font-family: 'Roboto-Bold';
        }

        .tag-prj__mains {
            margin-left: 0px;
            margin-bottom: 15px;

            li {
                margin-bottom: 15px;
            }
        }
    }
}

.trademark-about__page {
    background-color: #f0f2fa;
    padding: 40px 0px;
}


.text-trademark__about {
    max-width: 800px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: $text-third;
    position: relative;

    &:after {
        content: "";
        display: flex;
        width: 40px;
        height: 40px;
        background: url(../images/quocte-trademark-about.png) no-repeat center;
        background-size: contain;
        position: absolute;
        left: 0px;
        top: 20px;
        z-index: 10;
    }

}

.list-color__meaning {
    margin-top: 20px;

    li {
        display: flex;
        padding: 20px;
        width: 100%;
        max-width: 360px;
        color: #FFFFFF;
        text-align: center;
        justify-content: center;
        border-radius: 1000px;
        color: #FFFFFF;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        &:nth-child(1) {
            background-color: $blue;
        }

        &:nth-child(2) {
            background-color: $red;
        }
    }
}




.item-personnel__about {
    margin-bottom: 30px;

    .img-personnel__about {
        position: relative;
        display: flex;
        width: 100%;
        height: 1px;
        padding-top: 145%;
        margin-bottom: 30px;

        img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            z-index: 10;
        }

        &:before {
            content: "";
            display: flex;
            width: 100%;
            height: 100%;
            background: url(../images/bg-item-personnel.png) no-repeat center;
            background-size: cover;
            position: absolute;
            left: 0px;
            bottom: 0px;
        }
    }

    .intro-personnel__about {
        color: $text-third;

        .target-personnel__about {
            display: flex;
            align-items: flex-start;

            .list-target__work {
                width: 100%;
                flex: 1;

                li {
                    display: flex;

                    font-size: 13px;

                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }

                    &:before {
                        content: '';
                        display: flex;
                        width: 8px;
                        height: 8px;
                        min-width: 8px;
                        border-radius: 1000px;
                        background-color: $red;
                        margin-right: 10px;
                        transform: translateY(4px);
                    }
                }
            }

            .btn-blue__alls {
                padding: 5px 15px;
                font-size: 12px;
                min-height: 30px;
                font-family: 'Roboto-Medium';
            }
        }
    }
}

.slide-passion__about {

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
        visibility: hidden;
    }

    .group-btns__showss {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;

        .showss-button-prev,
        .showss-button-next {
            transition: all 0.3s;
            position: relative;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            border-radius: 1000px;
            padding: 5px;
            border: solid 1px $blue;

            img {
                width: 100%;
                height: 100%;
                filter: brightness(0) saturate(100%) invert(19%) sepia(77%) saturate(2061%) hue-rotate(217deg) brightness(95%) contrast(79%);
                object-fit: scale-down;

            }

            &:hover,
            &:focus {
                background-color: $blue;

                img {
                    filter: brightness(0) saturate(100%) invert(99%) sepia(1%) saturate(0%) hue-rotate(251deg) brightness(117%) contrast(100%);
                }

            }

        }

        .showss-button-next {
            margin-left: 30px;

            img {
                transform: rotate(180deg);
            }
        }

    }

}

.slide-media__personnel {
    padding-top: 35px;
    background-color: #f3f5fd;

    .swiper-button-prev,
    .swiper-button-next {
        color: #FFFFFF;

        &:after {
            font-size: 40px;
        }
    }

    .swiper-button-prev {
        left: 150px;
    }

    .swiper-button-next {
        right: 150px;
    }

    .swiper-grid-column>.swiper-wrapper {
        flex-direction: unset;
    }


}

.item-media__personnel {

    >a {
        position: relative;
        display: flex;
        width: 100%;
        height: 1px;
        padding-top: 65%;

        img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}