@import 'base';

.content-contact {
    margin-top: 20px;
}

.intro-contact__page {
    &:not(:last-child) {
        margin-bottom: 60px;
        padding-bottom: 20px;
        border-bottom: solid 1px #C4C4C4;
    }
}

.hotline-mail__contact {
    display: flex;
    width: 100%;

    li {
        flex-grow: 1;
        display: flex;
        align-items: center;
        font-size: 18px;

        a {

            &:hover,
            &:focus {
                color: $red;
            }
        }

        img {
            width: 44px;
            height: 44px;
            margin-right: 10px;
        }

    }

}

.list-office__contact {
    li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
}