@import 'base';

.banner-mains {
    position: relative;
    z-index: 10;

    .swiper-pagination {
        .swiper-pagination-bullet {
            margin: 0px !important;
            width: 20px;
            height: 7px;
            border-radius: 1000px;
            border: solid 1px $blue;
            background-color: #FFFFFF;
            opacity: 1;
            transition: all 0.2s;

            &:not(:last-child) {
                margin-right: 5px !important;
            }

        }

        .swiper-pagination-bullet-active {
            background-color: $blue;
        }
    }
}


.items-banner__mains {
    overflow: hidden;

    .intros-banner__main {
        padding: 115px 0px;
        color: $text-third;
        text-align: justify;

        &>[class^='title'] {
            max-width: 70%;
        }

        .btn-blue__alls {
            margin-top: 50px;
        }
    }

    .img-banner__main {
        position: relative;
        height: 100%;

        img {
            position: absolute;
            top: 40px;
            left: 0px;
            width: 133%;
            max-width: unset;
            height: auto;
        }
    }
}



.about-mains {
    margin-bottom: 210px;
    position: relative;
    z-index: 10;

    .intros-about__main {
        color: $text-third;
        text-align: justify;

        .btn-red__alls {
            margin-top: 80px;
        }
    }

    .img-about__main {
        img {
            width: 100%;
        }

    }
}

.vision-main {
    color: #FFFFFF;
    position: relative;
    padding-top: 40px;
    padding-bottom: 110px;

    .container {
        position: relative;
        z-index: 10;
    }

    &:after {
        content: "";
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: 275%;
        background: url(../images/bg-vision-main.png) no-repeat center bottom;
        background-size: cover;
    }

    .row {
        max-width: 775px;
        margin: 0px auto;
    }
}

.item-vision__main {
    display: flex;
    align-items: center;

    >img {
        content: "";
        display: flex;
        width: 80px;
        height: 80px;
        object-fit: scale-down;
    }

    .intro-vison__item {
        width: 100%;
        flex: 1;
        margin-left: 20px;
    }
}

.item-sevice__main {
    .img-item__sevice {
        >a {
            position: relative;
            display: flex;
            width: 100%;
            height: 1px;
            padding-top: 65%;
            overflow: hidden;
            border-radius: 10px;
            -webkit-box-shadow: 3px 3px 9px 0px rgba(96, 96, 96, 0.43) !important;
            -moz-box-shadow: 3px 3px 9px 0px rgba(96, 96, 96, 0.43) !important;
            box-shadow: 3px 3px 9px 0px rgba(96, 96, 96, 0.43) !important;

            img {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .info-item__sevice {
        display: flex;
        flex-wrap: wrap;
        margin: 0px -10px;

        >li {
            width: 50%;
            padding: 0px 10px;
            margin-bottom: 20px;

            a {
                display: flex;

                &:hover,
                &:focus {
                    color: $blue;
                }
            }

        }
    }

    .title-item__sevice {
        display: flex;

        &:hover,
        &:focus {
            color: $blue;
        }
    }
}

.sevice-main {
    background: url(../images/bg-sevice-main.jpg) no-repeat center;
    background-size: cover;

    .container {
        padding-top: 70px;
        padding-bottom: 70px;
    }


    .container {
        .row {
            &>[class^='col'] {
                &:nth-child(2) {
                    margin-top: 75px;
                }
            }
        }
    }
}

.list-partner__prj {
    padding: 80px 0px;
    background-color: #F3F5FD;

    .row {
        max-width: 810px;
        margin-right: auto;
        margin-left: auto;
    }
}