@import 'base';

.text-quocte__new {
    padding: 60px 0px;
    background-color: #F8F8F8;

    .title-hara {
        max-width: 60%;
    }
}


.category-tag__new {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-left: 0px;

    li {
        width: 15.6%;

        a {
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 5px 10px;
            background-color: #F3F5FD;
            border-radius: 5px;
            font-size: 15px;
            font-family: 'Roboto-Medium';
            width: 100%;

            &:hover,
            &:focus {
                background-color: $red;
                color: #FFFFFF;
            }

        }

        .active {
            background-color: $red;
            color: #FFFFFF !important;
        }
    }
}

.search-new__sidebar {

    form {
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: solid 1px #C4C4C4;

        img {
            width: 24px;
            height: 24px;
            margin-right: 10px;
        }

        input {
            background-color: transparent;
            outline: none;
            border: 0px;
            width: 100%;
            height: 100%;
            flex: 1;

            &::placeholder {
                color: $text-third;
            }
        }
    }

}

.list-follow__apps {
    display: flex;
    flex-wrap: wrap;

    li {
        width: fit-content;
        margin-bottom: 20px;

        &:not(:last-child) {
            margin-right: 20px;
        }

    }
}

.items-relate__sidebar {
    background-color: #F6F7FD;
    padding: 20px;
    border-radius: 5px;

    &:not(:last-child) {
        margin-bottom: 20px;
    }

    .title-relate__sidebar {
        display: flex;

        &:hover,
        &:focus {
            color: $blue;
        }
    }
}

.new-hot__pages {
    .items-new__page .img-new__page>a {
        padding-top: 45%;
    }
}

.banner-new__details {
    position: relative;
    padding: 50px 0px;

    &:after {
        content: "";
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        position: absolute;
        background: rgba(32, 32, 32, 0.6);
    }

    >img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .container {
        position: relative;
        z-index: 10;
        color: #BEBEBE;

        .title-hara {
            color: #FFFFFF;
        }

    }
}

.top-author__new {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.author-new__detail {
    display: flex;
    align-items: center;

    img {
        width: 60px;
        height: 60px;
        border-radius: 1000px;
    }

    .intros-author__new {
        width: 100%;
        flex: 1;
        margin-left: 15px;
        font-size: 14px;
        color: #767676;

        .title-rb__bold {
            color: $text;
        }
    }
}

.share-view__new {
    .share-app__news {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 10px;

        li {
            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }

    .view-new__details {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $blue;

        img {
            margin-right: 10px;
        }
    }
}

.text-news__details {
    ul {
        margin-bottom: 20px;

        li {
            display: flex;

            a {
                color: #767676;

                &:hover,
                &:focus {
                    color: $blue;
                }
            }

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:before {
                content: "";
                display: flex;
                width: 5px;
                height: 5px;
                min-width: 5px;
                margin-right: 10px;
                background-color: $blue;
                border-radius: 1000px;
                transform: translateY(6px);
            }
        }
    }

}

.signature-new {
    width: fit-content;
    color: #767676;
    margin-left: auto;

    a {
        color: $blue;
    }
}

.bottom-all__new {
    .box-bottom__new {
        padding: 15px 0px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        &:not(:last-child) {
            border-bottom: solid 1px #C4C4C4;
        }

        &:first-child {
            padding-top: 0px;
        }

        &:last-child {
            padding-bottom: 0px;
        }

        .title-box__bottom {
            color: #767676;
            margin-right: 10px;
        }

        .list-follow__apps {
            margin-left: 115px;

            li {
                margin-bottom: 5px;
            }

        }
    }
}

.box-bottom__new {

    .title-box__bottom,
    .bottom-tag__news,
    .list-follow__apps,
    .tag-cmt__new {
        margin-bottom: 10px;
    }
}

.bottom-tag__news {
    display: flex;
    flex-wrap: wrap;

    li {
        margin-bottom: 5px;

        &:not(:last-child) {
            margin-right: 20px;
        }

        a {
            display: flex;
            padding: 5px 15px;
            background-color: #F3F5FD;
            border-radius: 5px;
            color: #767676;

            &:hover,
            &:focus {
                background-color: $blue;
                color: #FFFFFF;
            }
        }
    }
}

.tag-cmt__new {
    display: flex;

    li {
        a {
            display: flex;
            padding: 2px 5px;
            border-radius: 5px;
            background-color: transparent;
            color: $text-third;

            &:hover,
            &:focus {
                background-color: $red;
                color: #FFFFFF;
            }

        }

        &:not(:last-child) {
            margin-right: 5px;
        }
    }

    .active {
        background-color: $red;
        color: #FFFFFF;
    }
}

.form-cmt__new {
    margin-top: 10px;
    width: 100%;
}

.list-cmt__new {
    >.items-cmt__new {
        &:nth-child(n+2) {
            display: none;
        }
    }
}

.btn-see__more {
    margin-top: 45px;
    cursor: pointer;
}

.items-cmt__new {

    .intro-cmt__new {
        display: flex;

        >img {
            width: 62px;
            height: 62px;
            border-radius: 1000px;
        }

        .top-text__cmt {
            display: flex;
        }

        .text-cmt__new {
            width: 100%;
            flex: 1;
            margin-left: 30px;

            .name-day__up {
                display: flex;
                margin-right: 15px;

                p {
                    display: flex;
                    align-items: center;
                    margin-bottom: 5px;

                    &:not(:first-child) {
                        color: #606060;

                        &:before {
                            content: '';
                            display: flex;
                            width: 2px;
                            height: 2px;
                            background-color: #212529;
                            margin: 0px 5px;
                        }
                    }
                }
            }

            a {
                color: $blue;
            }

        }
    }

    .like-answer__cmt {
        display: flex;
        margin-left: auto;
        width: fit-content;
        margin-bottom: 15px;
        margin-top: 15px;

        li {
            display: flex;
            align-items: center;

            i {
                font-size: 18px;
                margin-right: 3px;
            }

            &:not(:first-child) {
                margin-left: 10px;
            }

        }
    }

}


.list-hot__sidebar {
    .items-new__page {
        margin-bottom: 20px;
    }
}

.list-category__sidebar {
    li {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        a {
            display: flex;
            color: #767676;
            font-family: 'Roboto-Bold';

            &:hover,
            &:focus {
                color: $blue;
            }
        }
    }
}