@import 'base';


.banner-prj__pages {
    background-color: #F8F8F8;
    padding: 55px 0px;
    text-align: justify;

    .title-hara {
        max-width: 50%;
    }

    p {
        max-width: 40%;
    }
}

.client-sevice__use {
    display: flex;
    color: $text-third;

    >li {
        &:not(:last-child) {
            margin-right: 40px;
        }

        ul {
            li {
                color: $text;

                &:not(:last-child) {
                    margin-bottom: 10px;
                }
            }
        }
    }

    .title-client__sevice {
        display: flex;
        align-items: center;

        &:before {
            content: "";
            display: flex;
            width: 5px;
            height: 5px;
            background-color: $blue;
            border-radius: 1000px;
            margin-right: 5px;
        }
    }
}

.top-image__project {
    color: #767676;
    padding: 40px 0px;
    background-color: #F8F8F8;

    .container {
        padding-right: 30%;
    }
}

.list-image__project {
    img {
        width: 100%;
    }
}

.value-project__details {
    padding: 50px 0px;
    background-color: #F8F8F8;

    .list-parameter__reason .items-parameter__reason {
        max-width: 290px;
    }
}