@import 'base';

.tip-recruit__pages {
    padding: 75px 0px;
    background-color: #F8F8F8;

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.items-recruit__pages {
    padding: 20px;
    background: #FFFFFF;
    border: 1px solid #C3C3C3;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: all 0.2s;

    &:hover,
    &:focus {
        background: #F6F7FD;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border: solid 1px #F6F7FD;
    }

    .btn-red__alls {
        margin-left: auto;
        margin-right: auto;
    }
}

.intro-item__recruit {
    li {
        color: $text-third;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        img {
            max-width: 15px;
            max-height: 16px;
            min-width: 15px;
            margin-right: 10px;
            object-fit: scale-down;
            transform: translateY(-2px);
        }
    }
}

.quick-application {
    form {
        padding: 50px 70px;
        background: #F3F5FD;
        border-radius: 12px;

        .control-alls {
            background: #D1DDFF;
            border-radius: 5px;
        }

        >.row {
            &>[class^='col'] {
                margin-bottom: 20px;
            }
        }

        .btn-blue__alls {
            width: 100%;
            border-radius: 5px;
        }

        .up-file__prd {
            justify-content: space-between;
            background-color: transparent;
            border: dashed 1px $text-third;

            img {
                transition: all 0.2s;
            }

            &:hover,
            &:focus {
                background-color: $text-third;
                border: solid 1px $text-third;

                img {
                    filter: brightness(0) invert(1);
                }
            }

            .btn-Choose__file {
                width: 100%;
                flex: 1;
                text-align: left;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1 !important;
                overflow: hidden;
                max-height: 100% !important;
                margin-right: 10px;
            }
        }
    }
}

.content-recuit__detail {
    .intro-item__recruit {
        display: flex;
        flex-wrap: wrap;

        li {
            margin-bottom: 5px;

            &:not(:last-child) {
                margin-right: 20px;
            }
        }
    }
}

.text-recuit__detail {
    ul {
        margin-bottom: 20px;

        li {
            display: flex;

            &:not(:last-child) {
                margin-bottom: 10px;
            }

            &:before {
                content: "";
                display: flex;
                width: 5px;
                height: 5px;
                min-width: 5px;
                margin-right: 10px;
                background-color: $blue;
                border-radius: 1000px;
                transform: translateY(6px);
            }
        }
    }
}

.list-leader__hr {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 1px #C4C4C4;
    padding-bottom: 40px;
}

.item-leader__hr {
    display: flex;
    padding: 20px 25px;
    background-color: #F6F7FD;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

    &:not(:last-child) {
        margin-right: 20px;
    }

    >img {
        width: 60px;
        height: 60px;
        border-radius: 1000px;
    }

    .intros-leader__hr {
        width: 100%;
        flex: 1;
        margin-left: 15px;
        font-size: 14px;
        padding-right: 70px;

        .title-rb__bold {
            font-size: 15px;
        }
    }
}

.content-recuit__detail {
    margin-top: 55px;
}