// normalize
@import 'base';
@import 'function';


body {
    line-height: 1.3;
    color: $text;
    word-break: break-word;
    position: relative;
    font-size: 15px;
    font-family: 'Roboto-Regular';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
    margin-bottom: 0px;

    a {
        color: inherit;
        text-decoration: none;
        display: inline-block;

        &:hover {
            color: inherit;
        }
    }
}

a,
input,
button,
textarea,
select {

    &,
    &:focus {
        outline: 0;
        box-shadow: none !important;
        background-clip: unset !important;
        text-decoration: none;
    }
}

dl,
ol,
ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
}

// 
main {
    // min-height: calc(100vh - footer+header )
}


// 
// 
a {
    transition: all 0.2s;
    cursor: pointer;
    color: inherit;

    &:hover {
        text-decoration: none;
    }

}

p {
    margin-bottom: 0;
}

img {
    max-width: 100%;
}

button {
    cursor: pointer;
}

// bootstrap override

/* font */

@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf') format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Medium';
    src: url('../fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Medium.woff') format('woff'), url('../fonts/Roboto-Medium.ttf') format('truetype'), url('../fonts/Roboto-Medium.svg#Roboto-Medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Bold';
    src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf') format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SVN-Harabaras';
    src: url('../fonts/SVN-Harabaras.eot?#iefix') format('embedded-opentype'), url('../fonts/SVN-Harabaras.woff') format('woff'), url('../fonts/SVN-Harabaras.ttf') format('truetype'), url('../fonts/SVN-Harabaras.svg#SVN-Harabaras') format('svg');
    font-weight: normal;
    font-style: normal;
}




strong {
    font-family: 'Roboto-Bold';
}

.swiper-container-multirow-column>.swiper-wrapper {
    flex-direction: unset;
}


.swiper-container {
    height: fit-content;

    .swiper-slide {
        height: fit-content;
    }
}


@media (min-width: 1200.98px) {
    .container {
        max-width: 1170px;
    }
}

/* end font */

// spacing

// limit line
.limit-line {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    max-height: 1.5em;
    line-height: 1.5;

    &--2 {
        -webkit-line-clamp: 2;
        max-height: 3em;
    }

    &--3 {
        -webkit-line-clamp: 3;
        max-height: 4.5em;
    }

    &--4 {
        -webkit-line-clamp: 4;
        max-height: 6em;
    }
}

form {
    margin-bottom: 0px;
}

/* variable */

/* search-group */

.d-nones {
    display: none;
}

/* ---- */

%limit-line1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1 !important;
    overflow: hidden;
    max-height: 100% !important;
    line-height: 1.5;
}

.gutter-0 {
    margin: 0 0px;

    &>[class^='col'] {
        padding: 0 0px;
    }
}

.gutter-20 {
    margin: 0 -10px;

    &>[class^='col'] {
        padding: 0 10px;
    }
}

.gutter-40 {
    margin: 0 -20px;

    &>[class^='col'] {
        padding: 0 20px;
    }
}

.gutter-100 {
    margin: 0 -50px;

    &>[class^='col'] {
        padding: 0 50px;
    }
}

.gutter-120 {
    margin: 0 -60px;

    &>[class^='col'] {
        padding: 0 60px;
    }
}

.gutter-140 {
    margin: 0 -70px;

    &>[class^='col'] {
        padding: 0 70px;
    }
}


/* header */


.header {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;
    z-index: 1000;
    transition: all 0.2s;
    background-color: #FFFFFF;
    -webkit-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 1px 15px 0px rgba(0, 0, 0, 0.3);
}


.overflow-hidden {
    overflow: hidden;
}

.actives-fixed__headers {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: auto;

}

.headers-fixed {
    position: fixed !important;
    height: auto;
    width: 100%;
    animation-duration: 3s;
    animation-delay: 0s !important;
    z-index: 99;
    animation-name: slideInDown;
    background-color: black !important;
}


@keyframes slideInDown {
    0% {
        opacity: 0;
        transform: translateY(-2000px);
    }

    100% {
        transform: translateY(0);
    }
}

.slideInDown {
    animation-name: slideInDown;
}


.menu ul li a {
    text-decoration: none;
}

.active-tops {
    opacity: 1 !important;
    z-index: 9 !important;
    visibility: visible !important;
}

.back-menu {
    position: absolute;
    right: 15px;
    top: 0;
    color: rgba(255, 255, 255, 0.8);
    font-size: 36px;
    font-weight: bold;
    transition: all 0.2s;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%)
    }
}

.menu {
    width: 100%;
}

.logo-menu__mobile {
    display: none;
}

.box-menu__destops {

    &:hover,
    &:focus {
        .menu-desktop {
            opacity: 1;
            visibility: visible;


        }
    }
}

.menu-desktop {
    position: relative;

    >ul {
        display: flex;
        align-items: center;
        justify-content: space-between;

        >li {
            display: flex;
            align-items: center;
            position: relative;

            &:not(:last-child) {
                margin-right: 50px;
            }

            &:after {
                display: none;
            }

            &:hover,
            &:focus {

                >ul {
                    display: block;
                }
            }

            >a {
                color: $text;
                transition: all 0.3s;
                font-size: 14px;
                font-family: 'Roboto-Medium';
                position: relative;
                display: flex;
                align-items: center;
                padding: 5px 15px;
                border-radius: 5px;

                i {
                    font-size: 10px;
                    margin-left: 3px;
                    font-style: inherit;

                    &:after {
                        font-family: 'fontawesome';
                        content: "\f0d7";
                    }
                }

                &:hover,
                &:focus {
                    color: $blue;
                }
            }

            >&:first-child a {
                background-color: $blue;
                color: #FFFFFF;
                border: solid 1px transparent;

                &:hover,
                &:focus {
                    background-color: #FFFFFF;
                    color: $blue;
                    border: solid 1px $blue;
                }
            }

            &:last-child {
                a {
                    background-color: $red;
                    color: #FFFFFF;
                    border-radius: 1000px;
                    border: solid 1px transparent;

                    &:hover,
                    &:focus {
                        background-color: #FFFFFF;
                        color: $red;
                        border: solid 1px $red;
                    }
                }
            }

            &:nth-child(3) {
                >ul {

                    background-color: #FFFFFF;
                    overflow: hidden;

                    &:hover,
                    &:focus {
                        width: 495px;
                    }

                    >li {
                        width: 175px;

                        &:hover,
                        &:focus {
                            >ul {
                                opacity: 1;
                                visibility: visible;
                                z-index: 10;

                            }
                        }

                        ul {
                            left: 175px;
                            top: 25px;
                            width: 320px;
                            background-color: #FFFFFF;
                            padding: 15px;
                            display: flex;
                            flex-wrap: wrap;
                            padding-top: 0px;
                            z-index: 0;
                            overflow-y: auto;
                            max-height: 100%;

                            li {
                                width: 50%;
                                margin-bottom: 5px;
                                height: fit-content;

                                &:first-child {
                                    font-size: 10px;
                                    color: #767676;
                                    border-bottom: solid 1px #767676;

                                    padding-bottom: 3px;
                                    width: 100%;
                                }

                                a {
                                    padding: 0px;
                                    font-size: 11px;
                                    padding-right: 5px;

                                    &:hover,
                                    &:focus {
                                        background-color: #FFFFFF;
                                        color: $blue;
                                        font-family: 'Roboto-Bold';
                                    }
                                }
                            }
                        }
                    }
                }
            }

            /* submenu */

            >ul {
                position: absolute;
                top: 100%;
                left: 0px;
                height: fit-content;
                width: 175px;
                display: none;
                transition: all 0.1s;
                background-color: #FFFFFF;
                display: none;
                flex-wrap: wrap;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
                border-radius: 0px 0px 5px 5px;
                padding-top: 25px;

                li {
                    width: 100%;

                    a {
                        display: flex;
                        align-items: center;
                        color: #1F1F1F;
                        width: 100%;
                        font-size: 13px;
                        padding: 15px 30px;
                        font-family: 'Roboto-Regular';

                        i {
                            display: none;
                        }

                        &:hover,
                        &:focus {
                            color: #FFFFFF;
                            background-color: $blue;
                        }
                    }

                    &:hover,
                    &:focus {
                        ul {
                            opacity: 1;
                            visibility: visible;
                        }
                    }

                    ul {
                        position: absolute;
                        top: 0;
                        opacity: 0;
                        z-index: 10;
                        transition: all 0.2s;
                        background-color: #FFFFFF;

                        li {
                            width: 100%;

                            a {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}


.button-phone {
    display: none;
    z-index: 10;
    position: relative;
    z-index: 100;
}

.opens-now {
    left: 0 !important;
    z-index: 9999;
}

.remove-all {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2000;
    display: none;
    top: 0;
    left: 0;
}

.out-menu {
    display: block !important;
}

.main-menu-mobile {
    display: none;
}

.btn-mobiles__menu,
.close-menu-btn {
    display: none;
}


@media all and (max-width: 991.98px) {
    .btn-mobiles__menu {
        font-family: 'Roboto-Bold';
        padding: 0px 15px;
        margin-top: 20px;
        font-size: 17px;
        display: block;

        i {
            color: $red;
            margin-right: 5px;
        }

    }

    .main-menu-mobile {
        position: fixed !important;
        bottom: 0 !important;
        right: -100%;
        width: 235px;
        max-width: 100%;
        height: 85%;
        z-index: 9999;
        background-color: #FFFFFF;
        display: block;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        border-top-left-radius: 5px;
    }

    .main-menu-mobile::-webkit-scrollbar {
        width: 2px;
        border-radius: 0px;
    }

    .main-menu-mobile::-webkit-scrollbar-track {
        background-color: #6E4720;
    }

    .main-menu-mobile::-webkit-scrollbar-thumb {
        background-color: #F5D182;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .main-menu-mobile::-webkit-scrollbar-thumb:hover {
        background-color: #05843E;
    }

    .main-menu-mobile {
        scrollbar-face-color: #05843E;
        scrollbar-track-color: #fff;
    }

    .main-menu-mobile .header-menu-mobile {
        text-align: center;
        padding: 15px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .close-menu-btn {
        display: block;
    }

    .main-menu-mobile .header-menu-mobile .close-menu-btn {
        cursor: pointer;
        display: block;
        padding: 8px;
        border: solid 1px white;
        width: 20px;
        height: 20px;
    }

    .main-menu-mobile .header-menu-mobile .close-menu-btn i {
        color: #fff;
        font-size: 17px;
    }

    .main-menu-mobile .header-menu-mobile .close-menu-btn:hover {
        background-color: #fff;
    }

    .main-menu-mobile .header-menu-mobile .close-menu-btn:hover i {
        color: #F7941E;
    }

    .main-menu-mobile>ul {
        max-height: 85%;
        overflow-y: auto;
    }

    .main-menu-mobile ul::-webkit-scrollbar {
        width: 2px;
        border-radius: 40px;
    }

    .main-menu-mobile>ul>li {

        &:last-child {
            margin-top: 20px;
            padding: 0px 15px;

            >a {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 1000px;
                background-color: $red;
                color: #FFFFFF;
                padding: 5px 15px;
                width: 100%;
            }
        }
    }

    .main-menu-mobile ul::-webkit-scrollbar-track {
        background-color: #fff;
    }

    .main-menu-mobile ul::-webkit-scrollbar-thumb {
        background-color: #05843E;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .main-menu-mobile ul::-webkit-scrollbar-thumb:hover {
        background-color: #F7941E;
    }

    .main-menu-mobile ul li {
        position: relative;
        display: block;
        overflow: hidden;
    }

    .main-menu-mobile ul li a {
        display: block;
        padding: 10px 15px;
        color: #111111;
        font-size: 14px;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        /* width: calc(100% - 60px); */
    }

    .main-menu-mobile ul li a:hover,
    .main-menu-mobile ul li.active a {
        color: #F7941E;
    }

    .main-menu-mobile ul li i {
        position: absolute;
        width: 30px;
        max-width: 100%;
        height: 30px;
        top: 0;
        right: 15px;
        background-color: transparent;
        color: $text;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        opacity: 1;
        font-style: inherit;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .main-menu-mobile ul li i::before {
        font-family: "FontAwesome";
        content: "";
        font-size: 17px;
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .main-menu-mobile ul li i.active::before {
        transform: rotate(-180deg);
    }

    .main-menu-mobile ul li:hover i {
        opacity: 1;
    }

    .main-menu-mobile ul li ul {
        position: static;
        width: 100%;
        display: none;
        max-height: unset;
    }

    .main-menu-mobile ul li ul li ul li:first-child {
        display: none;
    }

    .main-menu-mobile ul li ul li:last-child {
        border-bottom: none;
    }

    .main-menu-mobile ul li ul li a {
        width: 100%;
        padding-left: 20px;
        font-size: 13px;
        background-color: #ebebeb;
    }

    .main-menu-mobile ul li ul li ul li a {
        padding-left: 30px;
    }

    .active-menu-mobile {
        right: 0px !important;
    }

    .bg-over-menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 100%;
        min-width: 20%;
        opacity: 0;
        z-index: 0;
        background-color: rgba(0, 0, 0, 0.6);
        -webkit-transition: all 0.3s ease-in-out;
        -khtml-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
    }

    .bg-over-menu.show-over {
        right: 0;
        z-index: 8888;
        opacity: 1;
    }

}

/* end menu */

.news-slogan__header {
    background-color: $blue;
    padding: 10px 0px;
    color: #FFFFFF;
    font-size: 13px;

    .container {
        display: flex;

        .title-slogan__header,
        .time-slogan__heager {
            width: fit-content;
        }

        .title-slogan__header {
            display: flex;
            align-items: center;

            &:before {
                content: "";
                display: flex;
                width: 6px;
                height: 6px;
                background-color: #e51e2b;
                border-radius: 1000px;
                margin-right: 5px;
            }
        }

        .titles-headers {
            width: 100%;
            flex: 1;
            margin: 0px 10px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 1 !important;
            overflow: hidden;
            max-height: 100% !important;

        }


    }
}

.logo-mains {
    width: fit-content;
    margin-right: 60px;

    img {
        max-width: 115px;
        width: 100%;
        object-fit: scale-down;
    }
}

.bottom-headers {
    padding: 25px 0px;

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .rights-bottoms__headers {
            width: 100%;
            flex: 1;
        }
    }
}

/* end header */


/* footers */

.top-footer {
    padding: 35px 0px;
    background: linear-gradient(90deg, rgba(53, 76, 158, 1) 50%, rgba(53, 76, 158, 0.03405112044817926) 100%);
    position: relative;

    &:after {
        content: "";
        position: absolute;
        right: 35px;
        top: 0px;
        bottom: 0px;
        margin-top: auto;
        margin-bottom: auto;
        height: 80px;
        width: 350px;
        background: url(../images/logo-footer.png) no-repeat center;
        background-size: contain;
        filter: brightness(0) saturate(100%) invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);
    }

    .container {
        position: relative;
        z-index: 10;

        form {
            >.row {
                align-items: center;

                &>[class^='col']:nth-child(1) {
                    color: #FFFFFF;
                }

                &>[class^='col']:nth-child(2) {
                    display: flex;
                    align-items: center;
                }
            }
        }
    }
}

.group-form__footer {
    width: 100%;
    flex: 1;
    position: relative;

    label {
        font-size: 15px;
        width: 100%;
        color: #FFFFFF;
        position: absolute;
        bottom: 100%;
        margin-bottom: 0px;
    }

    input {
        background-color: #FFFFFF;
        border-radius: 5px;
        width: 100%;
        border: 0px;
        box-shadow: none;
        outline: none;
        height: 50px;
        padding: 5px 10px;
    }
}

.group-btn__footer {
    margin-left: 15px;
    padding-left: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn-blue__alls {
        font-size: 15px;
    }

}

.center-footer {
    padding: 75px 0px;
    position: relative;
    background: url(../images/bg-footer.png) no-repeat center;
    background-size: contain;

    &:after {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
    }

    .container {
        position: relative;
        z-index: 10;
    }
}

.list-info__footer {
    li {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        i {
            font-size: 12px;
            width: 15px;
            text-align: center;
            margin-right: 15px;
            color: $blue;
        }

        a {

            &:hover,
            &:focus {
                color: $red;
            }
        }
    }
}

.list-app__footer {
    display: flex;

    li {
        &:not(:last-child) {
            margin-right: 15px;
        }

        img {
            width: 20px;
            height: 20px;
            object-fit: scale-down;
            transition: all 0.3s;

            &:hover,
            &:focus {
                transform: scale(1.3);
            }
        }
    }
}

.bottom-footer {
    background-color: $blue;
    padding: 20px 0px;

    .container {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        color: #FFFFFF;

        a {
            color: #FFFFFF;

            &:hover,
            &:focus {
                text-decoration: underline;
            }
        }
    }
}


/* and footer */


/* forms */

.btn-blue__alls {
    display: flex;
    min-height: 50px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px $blue;
    background-color: $blue;
    color: #FFFFFF;
    font-size: 19px;
    padding: 5px 20px;
    transition: all 0.3s;
    border-radius: 1000px;

    img {
        margin-left: 10px;
        transition: all 0.3s
    }

    &:hover,
    &:focus {
        background-color: #FFFFFF;
        color: $blue !important;
        border-color: $blue;

        img {
            filter: brightness(0) saturate(100%) invert(29%) sepia(14%) saturate(3775%) hue-rotate(195deg) brightness(96%) contrast(92%);
        }
    }
}

.btn-red__alls {
    display: flex;
    min-height: 30px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px $red;
    background-color: $red;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px 20px;
    transition: all 0.3s;
    border-radius: 1000px;
    font-family: 'Roboto-Medium';

    img {
        margin-left: 10px;
        transition: all 0.3s
    }

    &:hover,
    &:focus {
        background-color: #FFFFFF;
        color: $red !important;
        border-color: $red;

        img {
            filter: brightness(0) saturate(100%) invert(19%) sepia(96%) saturate(2429%) hue-rotate(331deg) brightness(101%) contrast(97%);
        }
    }
}


.btn-dowload__alls {
    display: flex;
    min-height: 30px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px transparent;
    background-color: #FFFFFF;
    color: $text-penta;
    font-size: 15px;
    padding: 5px 20px;
    transition: all 0.3s;
    border-radius: 1000px;
    font-family: 'Roboto-Medium';
    webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.29) !important;
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.29) !important;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.29) !important;

    img {
        margin-left: 10px;
        transition: all 0.3s;
        filter: brightness(0) saturate(100%) invert(20%) sepia(38%) saturate(3743%) hue-rotate(219deg) brightness(94%) contrast(84%);
    }

    &:hover,
    &:focus {
        background-color: $blue;
        color: #FFFFFF !important;
        border-color: $blue;

        img {
            filter: brightness(0) invert(1);
        }
    }
}


.btn-blue__trans {
    display: flex;
    min-height: 50px;
    width: fit-content;
    font-family: 'Roboto-Medium';
    align-items: center;
    justify-content: center;
    border: solid 1px $blue;
    background-color: #FFFFFF;
    color: $blue;
    font-size: 19px;
    padding: 5px 20px;
    transition: all 0.3s;
    border-radius: 1000px;

    img {
        margin-left: 10px;
        transition: all 0.3s
    }

    &:hover,
    &:focus {
        background-color: $blue;
        color: #FFFFFF;
        border-color: $blue;

        img {
            filter: brightness(0) invert(1);
        }
    }
}

.input-alls {
    height: 50px;
}

.control-alls {
    width: 100%;
    background: #FFFFFF;
    border: 0px;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
}


.breadcrumb {
    display: flex;
    align-items: center;
    padding: 0px;
    flex-wrap: wrap;
    margin-bottom: 0px;
    border-radius: 0px;
    width: fit-content;
    background-color: transparent;
    padding-top: 25px;

    .active {
        color: #707070 !important;
    }

    li {
        position: relative;
        display: flex;
        align-items: center;

        &:not(:last-child) {
            &:after {
                content: "";
                width: 4px;
                height: 4px;
                display: flex;
                margin: 0px 5px;
                border-radius: 1000px;
                background-color: #707070;
            }
        }

        a {
            display: flex;
            align-items: center;
            font-size: 13px;
            color: #707070;

            &:hover,
            &:focus {
                color: #212121;
            }
        }

    }

}

.pagenigation {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;

    >a,
    strong {
        display: flex;
        width: fit-content;
        height: 22px;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        background-color: transparent;
        border-radius: 0px;
        color: #767676;
        margin-bottom: 5px;
        border-color: 0px;
        font-weight: 400;
        padding: 3px;
        border: 0px;
        position: relative;

        img {
            transition: all 0.3s;
        }

        &:not(:last-child) {
            margin-right: 20px;
        }

        &:hover,
        &:focus {
            font-family: 'Roboto-Bold';
            color: $blue;
        }
    }

    .active {
        font-family: 'Roboto-Bold';
        color: $blue;
    }
}

.check-box__alls {
    display: flex;
    align-items: center;
    position: relative;
    height: auto;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent !important;

    label {
        margin-bottom: 0px;
        margin-left: 10px;
        color: black;
        display: flex;
        align-items: center;
        width: 100%;
        flex: 1;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: red;
        z-index: 9;
        margin: 0px;
    }

    .checkmark {
        position: relative;
        height: 20px;
        width: 20px;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-color: transparent;
        border: solid 1px #E0E0E0;
        overflow: hidden;

        &:hover,
        &:focus {
            &:after {
                opacity: 1 !important;
                visibility: visible !important;
            }
        }

        &:after {
            font-family: 'fontawesome';
            content: "\f00c";
            font-size: 12px;
            position: absolute;
            opacity: 0;
            visibility: hidden;
            width: 18px;
            height: 17px;
            color: #333;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.1s;

        }

    }

    input:checked~.checkmark {

        &:after {
            opacity: 1;
            visibility: visible;
        }
    }
}

.sl-btn-alls {
    position: relative;

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
        visibility: hidden;
    }

    .group-btns__showss {
        position: absolute;
        display: flex;
        justify-content: space-between;
        height: 1px;
        width: 100%;
        z-index: 10;
        top: 50%;
        left: 0px;
        font-size: 24px;
        transform: translateY(-10px);

        .showss-button-prev,
        .showss-button-next {
            transition: all 0.3s;
            position: relative;
            width: 20px;
            height: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            border-radius: 1000px;
            padding: 0px;
            color: #000000;
            font-size: 28px;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

            &:hover,
            &:focus {
                transform: scale(1.2);
            }

        }

        .showss-button-prev {
            left: -60px;
        }

        .showss-button-next {
            right: -60px;
        }

    }

}


.sl-panigation__alls {

    .swiper-pagination {
        .swiper-pagination-bullet {
            margin: 0px !important;
            width: 10px;
            height: 10px;
            border-radius: 1000px;
            border: solid 1px $pinks;
            background-color: #FFFFFF;
            opacity: 1;
            transition: all 0.2s;

            &:not(:last-child) {
                margin-right: 10px !important;
            }

        }

        .swiper-pagination-bullet-active {
            background-color: $pinks;
        }
    }

}


.btn-see__more {
    display: flex;
    width: fit-content;
    color: $blue;
    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 1px transparent;
    font-size: 16px;

    &:hover,
    &:focus {
        border-bottom: solid 1px $blue;
    }
}

.top-new__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item-new__main {
    border-radius: 10px;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.15);
    margin-bottom: 30px;

    .img-new__main {
        >a {
            position: relative;
            display: flex;
            width: 100%;
            height: 1px;
            padding-top: 65%;
            overflow: hidden;
            border-radius: 10px;

            img {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .intro-new__main {
        color: $text-penta;
        background-color: #FFFFFF;
        padding: 20px;
        padding-right: 20%;
        text-align: justify;

        .title-new__main {
            display: flex;


            &:hover,
            &:focus {
                color: $blue;
            }
        }

        .see-item__new {
            margin-left: auto;
            margin-top: 15px;
        }
    }
}

.see-item__new {
    display: flex;
    align-items: center;
    color: $red;
    width: fit-content;
}

.partner-main {
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}


.item-patner__main {
    margin-bottom: 50px;
    position: relative;
    display: flex;
    width: 100%;
    height: 1px;
    padding-top: 100%;

    img {
        filter: brightness(0) saturate(100%) invert(53%) sepia(2%) saturate(0%) hue-rotate(13deg) brightness(94%) contrast(93%);
        transition: all 0.2s;
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    &:hover,
    &:focus {
        img {
            filter: unset;
        }
    }
}

.feekback-main {
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 100px 0px;
    background-color: $blue;

    &:after {
        content: "";
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background: url(../images/bg-feekback-main.png) no-repeat center;
        background-size: cover;

    }

    .container {
        position: relative;
        z-index: 10;
    }

    .text-feedback__main {
        color: #FFFFFF;
        text-align: justify;
    }

    .swiper-button-prev,
    .swiper-button-next {
        opacity: 0;
        visibility: hidden;
    }

    .group-btns__showss {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: fit-content;
        margin-top: 60px;

        .showss-button-prev,
        .showss-button-next {
            transition: all 0.3s;
            position: relative;
            width: 45px;
            height: 45px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            cursor: pointer;
            border-radius: 1000px;
            padding: 5px;
            border: solid 1px #FFFFFF;

            img {
                width: 100%;
                height: 100%;
                object-fit: scale-down;
            }

            &:hover,
            &:focus {
                background-color: #FFFFFF;

                img {
                    filter: brightness(0) saturate(100%) invert(20%) sepia(38%) saturate(3743%) hue-rotate(219deg) brightness(94%) contrast(84%);
                }
            }

        }

        .showss-button-next {
            margin-left: 30px;

            img {
                transform: rotate(180deg);
            }

        }

    }

    .feedback-slide__main {
        width: 135%;

        .swiper-slide {
            width: 300px;
        }

        .item-feedback__main {
            background-color: #FFFFFF;
            border-radius: 10px;
            padding: 25px;
            font-size: 17px;
            color: $text-third;

            >img {
                width: 30px;
                height: auto;
                object-fit: scale-down;
                margin-bottom: 25px;
            }

            .box-customer__feedback {
                display: flex;
                align-items: center;

                img {
                    width: 80px;
                    height: 80px;
                    border-radius: 1000px;
                    object-fit: cover;
                }

                .info-customer__feedback {
                    width: 100%;
                    flex: 1;
                    margin-left: 10px;
                }
            }
        }
    }
}

.contact-main {
    background-color: #f3f5fd;
    max-width: 850px;
    margin-left: auto;
    margin-right: auto;
    padding: 0px 20px;
    padding-top: 40px;
    padding-bottom: 40px;

    form {
        max-width: 530px;
        margin-left: auto;
        margin-right: auto;
    }

    .control-alls {
        background-color: #d1ddff;
        color: $text-third;
    }

    .row {
        &>[class^='col'] {
            margin-bottom: 15px;
        }
    }

    .btn-blue__alls {
        width: 100%;
        max-width: 270px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
}


.check-contact__alls {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    height: 100%;

    label {
        background-color: $blue;
        color: #FFFFFF;
        padding: 5px 20px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        min-height: 60px;
        border-radius: 5px;
        transition: all 0.2s;
        font-size: 18px;
        font-family: 'Roboto-Bold';
        height: 100%;
    }

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: red;
        z-index: 9;
        margin: 0px;
    }

    input:checked~label {
        background-color: $red;
    }
}

.up-file__prd {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: relative;
    background-color: #c3c3c3;
    color: $text-penta;
    border-radius: 5px;
    min-height: 50px;
    font-size: 16px;
    transition: all 0.3s;
    padding: 5px 20px;

    &:hover,
    &:focus {
        background-color: #000000;
        color: #FFFFFF;
    }

    .input-files {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 10;

    }

}

.info-contact__main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 635px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;

    li {
        display: flex;
        font-family: 'Roboto-Medium';
        margin-left: auto;
        margin-right: auto;

        i {
            color: $red;
            margin-right: 20px;
            transform: translateY(5px);
        }

        a {
            color: $text-third;
            font-family: 'Roboto-Regular';
            margin-left: 5px;

            &:hover,
            &:focus {
                color: $blues;
            }
        }
    }
}

.text-top__main {
    max-width: 460px;
    margin-left: auto;
    margin-right: auto;
    color: $text-third;
}

.list-parameter__reason {
    display: flex;
    justify-content: space-between;
    text-align: center;
    color: #3f3f3f;

    .items-parameter__reason {
        max-width: 250px;
    }
}

.register-sevice__main {
    width: 100%;
    margin: 0px auto;
    text-align: center;
    padding: 25px 100px;
    max-width: 610px;
    background-color: #FFFFFF;
    -webkit-box-shadow: 3px 3px 9px 0px rgba(96, 96, 96, 0.30) !important;
    -moz-box-shadow: 3px 3px 9px 0px rgba(96, 96, 96, 0.30) !important;
    box-shadow: 3px 3px 9px 0px rgba(96, 96, 96, 0.30) !important;
    border-radius: 10px;

    .btn-blue__trans {
        margin: 0px auto;
        width: 100%;
        max-width: 300px;
    }
}

.item-prj__main {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 30px;

    &:hover,
    &:focus {
        .videos-prj__main {
            >a {
                opacity: 1;
            }
        }
    }

    .videos-prj__main {
        >img {
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0px;
            top: 0px;
        }

        >a {
            position: relative;
            display: flex;
            width: 100%;
            height: 1px;
            padding-top: 65%;
            z-index: 5;
            opacity: 0;

            &:after {
                font-family: 'fontawesome';
                content: "\f0da";
                position: absolute;
                left: 0px;
                top: 0px;
                right: 0px;
                bottom: 0px;
                margin: auto;
                z-index: 5;
                width: 55px;
                height: 55px;
                border-radius: 1000px;
                color: #FFFFFF;
                font-size: 46px;
                background-color: rgb(53 76 158 / 65%);
                display: flex;
                align-items: center;
                justify-content: center;
                transform: translateY(-60%);
            }

            img {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .intros-prj__main {
        position: absolute;
        left: 0px;
        bottom: 0px;
        width: 100%;
        height: fit-content;
        z-index: 10;
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: rgb(53 76 158 / 63%);
        color: #FFFFFF;

        .title-prj__main {
            display: flex;
            color: #FFFFFF;

            &:hover,
            &:focus {
                text-decoration: underline;
            }

        }

        .btn-prj__item {
            display: flex;
            align-items: center;

            .item-btn__prj {
                &:not(:last-child) {
                    margin-right: 10px;
                }

                i {
                    margin-left: 5px;
                    transition: all 0.2s;
                }

                &:hover,
                &:focus {
                    i {
                        color: $red;
                    }
                }
            }
        }
    }
}

.banner-sevice__page {
    position: relative;
    padding: 130px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 530px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .container {
        z-index: 10;
        position: relative;

        .intro-banner__sevice {
            max-width: 45%;
            color: #FFFFFF;

            .btn-blue__alls {
                margin-top: 120px;
            }
        }
    }
}

.items-new__page {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;

    .img-new__page>a {
        position: relative;
        display: flex;
        width: 100%;
        height: 1px;
        padding-top: 65%;
        border-radius: 5px;
        overflow: hidden;

        img {
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .intros-new__page {
        padding: 20px;
        color: $text-third;

        .introduction-new__item {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-bottom: 5px;
        }

        .title-new__pages {
            display: flex;
            color: $text;
            margin-bottom: 5px;

            &:hover,
            &:focus {
                color: $blue;
            }
        }

        .see-new__page {
            display: flex;
            align-items: center;
            color: $red;
            margin-top: 10px;
            width: fit-content;
            margin-left: auto;
            border-bottom: solid 1px transparent;
            transition: all 0.3s;

            &:hover,
            &:focus {
                border-bottom: solid 1px red;
            }

            img {
                margin-left: 5px;
                filter: brightness(0) saturate(100%) invert(21%) sepia(83%) saturate(4571%) hue-rotate(346deg) brightness(91%) contrast(97%);
                transform: rotate(180deg);
            }
        }
    }
}

.tag-prj__mains {
    display: flex;
    width: fit-content;
    margin: 0px auto;

    li {

        &:not(:last-child) {
            margin-right: 30px;
        }

        a {
            display: flex;
            justify-content: center;
            text-align: center;
            padding: 5px 10px;
            min-width: 130px;
            background-color: #d1ddff;
            border-radius: 5px;
            font-size: 13px;
            font-family: 'Roboto-Medium';

            &:hover,
            &:focus {
                background-color: $red;
                color: #FFFFFF;
            }

        }

        .active {
            background-color: $red;
            color: #FFFFFF !important;
        }
    }
}

.img-design__trademark {
    img {
        width: 100%;
    }
}







.titles-center__alls {
    text-align: center;
}

.titles-transform__alls {
    text-transform: uppercase;
}

.title-rb__bold {
    font-family: 'Roboto-Bold';
}

.title-rb__medium {
    font-family: 'Roboto-Medium';
}

.title-hara {
    font-family: 'SVN-Harabaras';
}

.color-text__second {
    color: $text-second;
}

.color-text__third {
    color: $text-third;
}

.color-penta {
    color: $text-penta;
}

.color-blues {
    color: $blue;
}

.color-white {
    color: #FFFFFF;
}

.color-red {
    color: $red;
}

.fs-13s {
    font-size: 13px;
}

.fs-14s {
    font-size: 14px;
}

.fs-15s {
    font-size: 15px;
}

.fs-16s {
    font-size: 16px;
}

.fs-17s {
    font-size: 17px;
}

.fs-18s {
    font-size: 18px;
}

.fs-19s {
    font-size: 19px;
}

.fs-20s {
    font-size: 20px;
}

.fs-21s {
    font-size: 21px;
}

.fs-22s {
    font-size: 22px;
}

.fs-25s {
    font-size: 25px;
}

.fs-26s {
    font-size: 26px;
}

.fs-31s {
    font-size: 31px;
}

.fs-36s {
    font-size: 36px;
}

.fs-38s {
    font-size: 38px;
}

.fs-40s {
    font-size: 40px;
}

.fs-78s {
    font-size: 78px;
}

.mb-5s {
    margin-bottom: 5px;
}

.mb-10s {
    margin-bottom: 10px;
}

.mb-15s {
    margin-bottom: 15px;
}

.mb-20s {
    margin-bottom: 20px;
}

.mb-25s {
    margin-bottom: 25px;
}

.mb-30s {
    margin-bottom: 30px;
}

.mb-35s {
    margin-bottom: 35px;
}

.mb-40s {
    margin-bottom: 40px;
}

.mb-50s {
    margin-bottom: 50px;
}

.mb-60s {
    margin-bottom: 60px;
}

.mb-65s {
    margin-bottom: 65px;
}

.mb-70s {
    margin-bottom: 70px;
}

.mb-80s {
    margin-bottom: 80px;
}

.mb-90s {
    margin-bottom: 90px;
}

.mb-100s {
    margin-bottom: 100px;
}

.mb-115s {
    margin-bottom: 115px;
}

.mb-130s {
    margin-bottom: 130px;
}

.mb-150s {
    margin-bottom: 150px;
}

.mb-190s {
    margin-bottom: 190px;
}







.top-center__footer {
    .row {
        align-items: center;
    }
}

.top-contact__footer {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 18px;
}

.top-contact__footer a:hover,
.top-contact__footer a:focus {
    color: #e51e2b;
}

.top-contact__footer img {
    width: 44px;
    height: 44px;
    margin-right: 10px;
}

.img-certification__footers {
    img {
        margin-bottom: 10px;
        max-width: 100%;
    }
}


.modal-contact {
    .modal-dialog {
        width: 700px;
        max-width: 90%;

        .close {
            position: absolute;
            z-index: 10;
            right: 10px;
            top: 10px;
            width: 30px;
            height: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .contact-main {
            padding: 0px;
        }
    }
}

/* :not(:last-child) */
/* :nth-child(1n+0) */

/* end variable */
