@import 'base';


@media (max-width: 1920.98px) {}

@media (max-width: 1850.98px) {}

@media (max-width: 1800.98px) {}

@media (max-width: 1700.98px) {}

@media (max-width: 1600.98px) {}

@media (max-width: 1500.98px) {}

@media (max-width: 1440.98px) {}

@media (max-width: 1366.98px) {}

@media (max-width: 1365.98px) {

    .gutter-40 {
        margin: 0 -15px;

        &>[class^='col'] {
            padding: 0 15px;
        }
    }

    .gutter-100 {
        margin: 0 -15px;

        &>[class^='col'] {
            padding: 0 15px;
        }
    }

    .gutter-120 {
        margin: 0 -15px;

        &>[class^='col'] {
            padding: 0 15px;
        }
    }

    .gutter-140 {
        margin: 0 -15px;

        &>[class^='col'] {
            padding: 0 15px;
        }
    }

}

@media (max-width: 1199.98px) {
    .fs-13s {
        font-size: 12px;
    }

    .fs-14s {
        font-size: 13px;
    }

    .fs-15s {
        font-size: 13px;
    }

    .fs-16s {
        font-size: 15px;
    }

    .fs-17s {
        font-size: 16px;
    }

    .fs-18s {
        font-size: 17px;
    }

    .fs-19s {
        font-size: 18px;
    }

    .fs-20s {
        font-size: 19px;
    }

    .fs-21s {
        font-size: 20px;
    }

    .fs-22s {
        font-size: 21px;
    }

    .fs-25s {
        font-size: 24px;
    }

    .fs-26s {
        font-size: 25px;
    }

    .fs-31s {
        font-size: 27px;
    }

    .fs-38s {
        font-size: 32px;
    }

    .fs-40s {
        font-size: 36px;
    }

    .fs-78s {
        font-size: 54px;
    }

    .mb-10s {
        margin-bottom: 10px;
    }

    .mb-15s {
        margin-bottom: 10px;
    }

    .mb-20s {
        margin-bottom: 15px;
    }

    .mb-25s {
        margin-bottom: 20px;
    }

    .mb-30s {
        margin-bottom: 25px;
    }

    .mb-35s {
        margin-bottom: 30px;
    }

    .mb-40s {
        margin-bottom: 35px;
    }

    .mb-50s {
        margin-bottom: 40px;
    }

    .mb-60s {
        margin-bottom: 50px;
    }

    .mb-65s {
        margin-bottom: 55px;
    }

    .mb-70s {
        margin-bottom: 60px;
    }

    .mb-80s {
        margin-bottom: 65px;
    }

    .mb-90s {
        margin-bottom: 70px;
    }

    .mb-100s {
        margin-bottom: 80px;
    }

    .mb-115s {
        margin-bottom: 90px;
    }

    .mb-130s {
        margin-bottom: 100px;
    }

    .mb-150s {
        margin-bottom: 120px;
    }

    .mb-190s {
        margin-bottom: 130px;
    }


    .menu-desktop>ul>li:not(:last-child) {
        margin-right: 20px;
    }

    .items-banner__mains .intros-banner__main {
        padding: 60px 0px;
    }

    .about-mains {
        margin-bottom: 100px;
    }

    .top-footer:after {
        opacity: 0.5;
    }

    .sevice-main .container .row>[class^=col]:nth-child(2) {
        margin-top: 35px;
    }

    .banner-sevice__page {
        padding: 70px 0px;
    }

    .banner-production__media {
        padding: 95px 0px;
    }

    .bottom-all__new .box-bottom__new .list-follow__apps {
        margin-left: 35px;
    }

}

@media (max-width: 991.98px) {


    /* header */

    .menu-desktop {
        display: none;
    }

    .close-menu-btn {
        color: white;
        z-index: 1000;
        width: 20px;
        height: 20px;
        position: relative;
    }

    .close-menu-btn:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        transform: rotate(45deg);
        top: 10px;
        left: 0;
        background-color: $text;
    }

    .close-menu-btn:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        transform: rotate(-45deg);
        top: 10px;
        left: 0;
        background-color: $text;
    }

    .main-menu-mobile {
        li {
            &:after {
                display: none;
            }
        }
    }

    .logo-menu__mobile {
        display: block;
    }

    .button-phone {
        display: flex;
        cursor: pointer;
        width: 35px;
        height: 35px;
        min-width: 35px;
        color: #000000;
        z-index: 1;
        position: relative;
        margin-left: auto;

        img {
            object-fit: scale-down;
        }
    }

    .menu-phones {
        display: block;
    }

    .logo-menus .btn-menu__desktops {
        display: none;
    }

    .items-banner__mains .img-banner__main {
        padding-top: 30%;
    }


    .items-banner__mains .intros-banner__main {
        text-align: center;
    }

    .items-banner__mains .intros-banner__main>[class^=title] {
        max-width: 100%;
    }

    .items-banner__mains .intros-banner__main .btn-blue__alls {
        margin-left: auto;
        margin-right: auto;
    }

    .items-banner__mains .img-banner__main img {
        top: -70%;
        width: 115%;
    }

    .items-banner__mains .intros-banner__main {
        position: relative;
        z-index: 10;
    }

    .sevice-main .container .row>[class^=col]:nth-child(2) {
        margin-top: 0px;
    }

    .item-sevice__main .info-item__sevice>li:not(:last-child) {
        margin-bottom: 10px;
    }

    .sevice-main {
        .row {
            justify-content: center;
        }
    }

    .item-sevice__main {
        margin-bottom: 30px;
    }

    .bottom-headers .container .rights-bottoms__headers {
        width: fit-content;
        flex: unset;
    }

    .tag-prj__mains {
        justify-content: center;

        li {
            margin-bottom: 15px;
        }
    }

    .tag-prj__mains li:not(:last-child) {
        margin-right: 15px;
    }

    .content-prj__tag {
        .row {
            justify-content: center;
        }
    }

    .new-main {
        .row {
            justify-content: center;
        }
    }

    .feekback-main .feedback-slide__main {
        width: 100%;
    }

    .feekback-main .group-btns__showss {
        position: absolute;
        left: 0px;
        top: 140%;
        width: 100%;
        max-width: 100%;
        z-index: 10;
    }

    .feekback-main .group-btns__showss .showss-button-prev,
    .feekback-main .group-btns__showss .showss-button-next {
        background-color: #FFFFFF;
        -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.19);
        box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.19);

        img {
            filter: brightness(0) saturate(100%) invert(26%) sepia(9%) saturate(7255%) hue-rotate(200deg) brightness(103%) contrast(92%);
        }
    }

    .feekback-main {
        padding: 50px 0px;
    }


    .check-contact__alls label {
        font-size: 15px;
    }

    .titles-form__footer {
        margin-bottom: 15px;
    }

    .group-form__footer label {
        position: relative;
        bottom: 0px;
    }

    .top-footer .container form>.row {
        align-items: flex-end;
    }

    .top-footer .container form>.row>[class^=col]:nth-child(2) {
        align-items: flex-end;
    }

    .top-footer:after {
        width: 250px;
    }

    .center-footer {
        padding: 35px 0px;
    }

    .info-footers {
        margin-bottom: 30px;
    }

    .text-feedback__main {
        margin-bottom: 20px;
    }

    .about-mains .intros-about__main .btn-red__alls {
        margin-top: 30px;
    }

    .intros-about__main {
        margin-bottom: 40px;
    }

    .content-why__page:after {
        height: 135%;
    }

    .items-core__sevice .content-items__core .tag-prj__mains li a {
        min-width: unset;
    }

    .text-items__core {
        .tag-prj__mains li {
            width: 48%;
        }
    }

    .text-items__core {
        .tag-prj__mains {
            justify-content: space-between;
        }
    }

    .img-color__meaning {
        margin-top: 30px;
    }

    .img-banner__about {
        padding-top: 45%;
    }

    .item-why__page {
        margin-bottom: 30px;
    }

    .text-trademark__about:after {
        position: relative;
        margin-right: auto;
        margin-left: auto;
    }

    .banner-sevice__page .container .intro-banner__sevice {
        width: 100%;
        max-width: 100%;
    }

    .banner-sevice__page .container .intro-banner__sevice .btn-blue__alls {
        margin-top: 40px;
    }

    .banner-sevice__page {
        padding: 60px 0px;
    }

    .item-standard__all {
        margin-bottom: 20px;
    }


    .img-design__trademark {
        width: 100%;
        margin-bottom: 20px;
    }

    .benefit-design__trademark {
        >.row {
            >.col-lg-7 {
                order: 2;
            }
        }
    }

    .items-benefit__brochure .intro-benefit__brochure {
        margin-left: 20px;
    }

    .prj-brand__pages .container {
        >.row {
            justify-content: center;
        }
    }

    .standard-design__logo {
        >.row {
            justify-content: center;
        }
    }

    .bottom-headers {
        padding: 15px 0px;
    }

    .brand-partner__pages {
        .sl-brand__partner {
            margin-top: 20px;
        }
    }

    .category-tag__new {
        flex-wrap: wrap;
        justify-content: flex-start;

        li {
            width: fit-content;
            margin-bottom: 10px;

            &:not(:last-child) {
                margin-right: 15px;
            }
        }
    }

    .left-contact__page {
        margin-bottom: 50px;
    }

    .intro-contact__page:not(:last-child) {
        margin-bottom: 30px;
    }

    .content-contact {
        .contact-main {
            margin-bottom: 50px;
        }
    }

    .list-recruit__pages {
        >.container {
            >.row {
                justify-content: center;
            }
        }
    }

    .active-close__menussss {
        opacity: 1;
        visibility: visible;
    }

    .text-items__core .tag-prj__mains li {
        margin-right: 0px;
    }

    .top-contact__footer {
        font-size: 15px;
    }


    .all-marcom__sevice .row>[class^=col]:nth-child(1) {
        margin-top: 0px;
    }

    .all-marcom__sevice .row>[class^=col] {
        margin-bottom: 20px;
    }

    .img-marquest__face {
        overflow-x: auto;
        overflow-y: hidden;
        display: flex;
        justify-content: flex-end;

        img {
            min-width: 180%;
        }
    }
}

@media (max-width: 767.98px) {
    .fs-13s {
        font-size: 13px;
    }

    .fs-14s {
        font-size: 14px;
    }

    .fs-15s {
        font-size: 15px;
    }

    .fs-16s {
        font-size: 16px;
    }

    .fs-17s {
        font-size: 17px;
    }

    .fs-18s {
        font-size: 17px;
    }

    .fs-19s {
        font-size: 17px;
    }

    .fs-20s {
        font-size: 18px;
    }

    .fs-21s {
        font-size: 19px;
    }

    .fs-22s {
        font-size: 20px;
    }

    .fs-25s {
        font-size: 22px;
    }

    .fs-26s {
        font-size: 23px;
    }

    .fs-31s {
        font-size: 25px;
    }

    .fs-38s {
        font-size: 27px;
    }

    .fs-40s {
        font-size: 30px;
    }

    .fs-78s {
        font-size: 35px;
    }

    .mb-10s {
        margin-bottom: 10px;
    }

    .mb-15s {
        margin-bottom: 10px;
    }

    .mb-20s {
        margin-bottom: 10px;
    }

    .mb-25s {
        margin-bottom: 15px;
    }

    .mb-30s {
        margin-bottom: 20px;
    }

    .mb-35s {
        margin-bottom: 25px;
    }

    .mb-40s {
        margin-bottom: 30px;
    }

    .mb-50s {
        margin-bottom: 35px;
    }

    .mb-60s {
        margin-bottom: 40px;
    }

    .mb-65s {
        margin-bottom: 45px;
    }

    .mb-70s {
        margin-bottom: 50px;
    }

    .mb-80s {
        margin-bottom: 55px;
    }

    .mb-90s {
        margin-bottom: 60px;
    }

    .mb-100s {
        margin-bottom: 65px;
    }

    .mb-115s {
        margin-bottom: 70px;
    }

    .mb-130s {
        margin-bottom: 80px;
    }

    .mb-150s {
        margin-bottom: 85px;
    }

    .mb-190s {
        margin-bottom: 90px;
    }


    .item-prj__main .intros-prj__main {
        padding: 5px 15px;
    }

    .item-new__main .intro-new__main {
        padding: 10px;
    }


    .top-footer .container form>.row>[class^=col]:nth-child(2) {
        display: block;
    }


    .group-btn__footer {
        justify-content: flex-start;
        margin-left: 0px;
        padding-left: 0px;
        margin-top: 15px;
    }

    .top-footer {
        background: linear-gradient(179deg, rgb(53, 76, 158) 50%, rgba(53, 76, 158, 0.0340511204) 100%);
        padding: 20px 0px;
    }

    .top-footer:after {
        left: 0px;
        bottom: 0px;
        margin: auto;
    }

    .bottom-footer .container {
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
    }

    .bottom-footer .container {
        font-size: 12px;
    }

    .bottom-footer {
        padding: 10px 0px;
    }

    .bottom-headers {
        padding: 15px 0px;
    }

    .banner-capacity {
        flex-wrap: wrap;
    }

    .banner-capacity>.container {
        position: relative;
    }

    .banner-capacity .intros-banner__capacity {
        width: 100%;
        padding: 20px 0px;
        text-align: center;
    }

    .banner-capacity .img-banner__capacity img {
        min-height: unset;
    }

    .banner-capacity .img-banner__capacity {
        width: 100%;
    }

    .banner-about__pages>.container .intros-banner__about {
        width: 100%;
    }


    .items-core__sevice .content-items__core {
        flex-wrap: wrap;
    }

    .items-core__sevice .content-items__core .text-items__core {
        flex: unset;
    }

    .items-core__sevice .content-items__core .img-items__core>span {
        margin-left: 0px;
        margin-bottom: 15px;
    }

    .img-items__core {
        width: 100%;
    }

    .items-core__sevice .content-items__core .img-items__core span {
        width: 100%;
    }

    .items-core__sevice .content-items__core .text-items__core {
        padding: 0px;
        order: 2;
    }

    .items-core__sevice .content-items__core {
        padding: 15px;
    }

    .item-personnel__about .intro-personnel__about .target-personnel__about {
        flex-wrap: wrap;
    }

    .item-personnel__about .intro-personnel__about .target-personnel__about .list-target__work {
        flex: unset;
        margin-bottom: 10px;
    }

    .item-personnel__about .intro-personnel__about .target-personnel__about .list-target__work li:not(:last-child) {
        margin-bottom: 5px;
    }


    .slide-media__personnel .swiper-button-prev {
        left: 30px;
    }


    .slide-media__personnel .swiper-button-next {
        right: 30px;
    }

    .item-standard__all {
        padding: 25px;
    }

    .advise-maketing__pages {
        min-height: 295px;
    }

    .items-subject__marketing {
        padding: 30px;
    }

    .banner-sevice__page {
        min-height: 230px;
    }

    .top-image__project .container {
        padding-right: 15px;
    }

    .bottom-all__new .box-bottom__new .list-follow__apps {
        margin-left: 0px;
    }

    .tip-recruit__pages {
        padding: 35px 0px;
    }

    .quick-application form {
        padding: 20px 30px;
    }

    .content-recuit__detail {
        margin-top: 25px;
    }

    .item-leader__hr .intros-leader__hr {
        padding-right: 0px;
    }

    .item-patner__main {
        margin-bottom: 30px;
    }

    .btn-blue__alls {
        min-height: 35px;
        font-size: 16px;
    }

    .banner-prj__pages .title-hara {
        max-width: 100%;
    }

    .banner-prj__pages p {
        max-width: 100%;
    }

    .banner-about__pages {
        flex-wrap: wrap;

        .intros-banner__about {
            padding: 25px 0px;

        }
    }

    .banner-about__pages>.container {
        position: relative;

    }

    .banner-about__pages>.container .intros-banner__about {
        color: $text-third;
    }

    .banner-about__pages>.container .intros-banner__about .title-hara {
        color: $blue;
    }

    .banner-sevice__page {
        flex-wrap: wrap;
        padding-bottom: 0px;

        >img {
            position: relative;
            order: 2;
        }

        .intro-banner__sevice {
            margin-bottom: 30px;

            .title-hara {
                color: $blue;
            }

        }
    }

    .banner-sevice__page .container .intro-banner__sevice {
        color: $text-third;
    }

    .logo-footer {
        margin-bottom: 15px;
    }

    .diversity-mar__facebook .btn-red__alls {
        bottom: 0px;
    }

}

@media (max-width: 575.98px) {
    .fs-13s {
        font-size: 13px;
    }

    .fs-14s {
        font-size: 14px;
    }

    .fs-15s {
        font-size: 15px;
    }

    .fs-16s {
        font-size: 16px;
    }

    .fs-17s {
        font-size: 17px;
    }

    .fs-18s {
        font-size: 16px;
    }

    .fs-19s {
        font-size: 16px;
    }

    .fs-20s {
        font-size: 16px;
    }

    .fs-21s {
        font-size: 17px;
    }

    .fs-22s {
        font-size: 18px;
    }

    .fs-25s {
        font-size: 19px;
    }

    .fs-26s {
        font-size: 20px;
    }

    .fs-31s {
        font-size: 22px;
    }

    .fs-38s {
        font-size: 24px;
    }

    .fs-40s {
        font-size: 26px;
    }

    .fs-78s {
        font-size: 32px;
    }

    .mb-10s {
        margin-bottom: 10px;
    }

    .mb-15s {
        margin-bottom: 10px;
    }

    .mb-20s {
        margin-bottom: 10px;
    }

    .mb-25s {
        margin-bottom: 12px;
    }

    .mb-30s {
        margin-bottom: 15px;
    }

    .mb-35s {
        margin-bottom: 20px;
    }

    .mb-40s {
        margin-bottom: 25px;
    }

    .mb-50s {
        margin-bottom: 30px;
    }

    .mb-60s {
        margin-bottom: 35px;
    }

    .mb-65s {
        margin-bottom: 40px;
    }

    .mb-70s {
        margin-bottom: 45px;
    }

    .mb-80s {
        margin-bottom: 50px;
    }

    .mb-90s {
        margin-bottom: 55px;
    }

    .mb-100s {
        margin-bottom: 60px;
    }

    .mb-115s {
        margin-bottom: 65px;
    }

    .mb-130s {
        margin-bottom: 70px;
    }

    .mb-150s {
        margin-bottom: 80px;
    }

    .mb-190s {
        margin-bottom: 75px;
    }

    .news-slogan__header .container {
        flex-wrap: wrap;
        text-align: center;

        .time-slogan__heager {
            width: 100%;
        }
    }

    .register-sevice__main {
        padding: 25px;
    }

    .item-prj__main .intros-prj__main {
        padding: 15px 30px;
    }

    .item-new__main .intro-new__main {
        padding: 25px;
    }


    .feekback-main .text-feedback__main {
        text-align: center;
    }

    .about-mains .intros-about__main {
        text-align: center;
    }


    .item-vision__main {
        margin-bottom: 20px;
    }

    .vision-main {
        padding-bottom: 40px;
    }

    .list-parameter__reason {
        flex-wrap: wrap;
        justify-content: center;

        .items-parameter__reason {
            width: 100%;
            margin-bottom: 20px;
        }
    }

    .contact-main {
        form {
            >.row {
                justify-content: center;
            }
        }
    }

    .info-contact__main li i {
        margin-right: 10px;
        transform: translateY(2px);
    }

    .info-contact__main {
        font-size: 14px;
        justify-content: center;

        li {
            margin-bottom: 5px;
        }
    }

    .center-footer {
        font-size: 14px;
    }

    .list-app__footer li:not(:last-child) {
        margin-right: 10px;
    }

    .list-info__footer li i {
        margin-right: 10px;
    }

    .bottom-headers {
        padding: 10px 0px;
    }

    .items-banner__mains .img-banner__main img {
        top: -145%;
    }

    .about-mains .intros-about__main .btn-red__alls {
        margin-left: auto;
        margin-right: auto;
    }

    .slide-capacity__file .group-btns__showss {
        margin-top: 0px;
    }

    .img-banner__about {
        padding-top: 105%;
    }

    .items-core__sevice:before {
        margin-right: 10px;
    }

    .content-why__page {
        margin-top: -25px;
    }

    .banner-sevice__page {
        padding: 30px 0px;
    }

    .title-digital__maketing {
        padding: 10px 0px;
    }

    .group-form__footer {
        >.row>[class^=col] {
            margin-bottom: 10px;
        }
    }

    .client-sevice__use {
        flex-wrap: wrap;

        >li {
            margin-bottom: 20px;
        }
    }

    .text-quocte__new .title-hara {
        max-width: 100%;
    }

    .text-quocte__new {
        padding: 30px 0px;
    }


    .top-author__new {
        .author-new__detail {
            width: 100%;
            margin-bottom: 10px;
        }

        .share-view__new {
            width: 100%;
        }
    }

    .hotline-mail__contact {
        flex-wrap: wrap;

        li {
            margin-bottom: 15px;
        }
    }

    .items-parameter__reason {
        .title-hara {
            font-size: 46px;
        }
    }

    .partner-main {
        .row {
            margin: 0px -10px;

            &>[class^='col'] {
                padding: 0px -10px;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;

                &:nth-child(2n+2) {
                    &:after {
                        display: none;
                    }
                }

                &:after {
                    content: '';
                    position: absolute;
                    right: 0px;
                    background-color: #ABABAB;
                    height: 90%;
                    width: 1px;
                }

                &:before {
                    content: '';
                    position: absolute;
                    bottom: 0px;
                    background-color: #ABABAB;
                    height: 1px;
                    width: 90%;
                }

            }
        }

        .item-patner__main {
            margin-bottom: 0px;
        }
    }

    .check-contact__alls .wpcf7-list-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .check-contact__alls .wpcf7-list-item.last {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .check-contact__alls .form-check-input {
        flex-wrap: wrap;
    }

    // .img-marquest__face {
    //     overflow: hidden;
    //     display: flex;
    //     justify-content: end;

    //     img {
    //         min-width: 235%;
    //     }
    // }

    .box-marcom__sevice {
        padding: 20px 20px;
    }



}


@media (max-width: 375.98px) {}