@import 'base';

.items-brand__partner {

    img {
        width: 100%;
        height: 100%;
        object-fit: sacle-down;
    }
}

.sl-brand__partner {
    .swiper-wrapper {
        align-items: center;
    }
}

.prj-brand__pages {
    .btn-blue__alls {
        margin-left: auto;
        margin-right: auto;
    }
}

.design-logo__sevice {
    .text-top__main {
        max-width: 790px;
    }
}

.item-standard__all {
    padding: 70px 50px;
    text-align: center;
    background: #F3F5FD;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    color: $text-third;
    transition: 0.2s;
    margin-bottom: 20px;

    &:hover,
    &:focus {
        background-color: $blue;

        .img-item__standard {
            background-color: #FFFFFF;
        }

        .intros-item__standard {
            color: #FFFFFF;

            .title-rb__bold {
                color: #FFFFFF;
            }
        }


    }

    .img-item__standard {
        width: 120px;
        height: 120px;
        border-radius: 1000px;
        border: solid 1px $blue;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 20px;

        img {
            width: auto;
            height: auto;
        }
    }
}

.process-design__logo {
    padding-top: 74px;
    padding-bottom: 58px;
    position: relative;

    .container {
        position: relative;
        z-index: 10;
    }

    >img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.items-process__all {
    display: flex;
    position: relative;
    z-index: 10;
    margin-bottom: 20px;

    .title-items__process {
        text-align: center;
        color: $text-third;
        margin-right: 27px;
        display: flex;
        align-items: center;
        flex-direction: column;

        &:after {
            content: "";
            height: 100%;
            width: 1px;
            background-color: #767676;
            flex: 1;
            margin-top: 10px;
        }

        .number-items__process {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            border-radius: 1000px;
            border: solid 1px $red;
            font-size: 32px;
            font-family: 'Roboto-Bold';
            color: #FFFFFF;
            position: relative;
            margin-bottom: 10px;

            &:after {
                content: "";
                position: absolute;
                width: 80%;
                height: 80%;
                border-radius: 1000px;
                background-color: $red;
                z-index: -1;
            }
        }
    }

    .intro-items__process {
        width: 100%;
        flex: 1;
        background-color: #FFFFFF;
        border-radius: 12px;
        padding: 30px 20px;
    }
}

.items-design__trademark {

    .title-design__trademark {
        display: flex;

        &:before {
            content: "";
            display: flex;
            width: 13px;
            height: 13px;
            min-width: 13px;
            margin-right: 10px;
            background: url(../images/cicle-titles.png) no-repeat center;
            background-size: contain;
            margin-top: 5px;
        }
    }

    p {
        text-align: justify;
        color: $text-third;
    }
}

.list-design__capacity {
    .item-standard__all {
        padding: 15px;
        padding-top: 40px;
        padding-bottom: 70px;
        position: relative;

        &:hover,
        &:focus {
            &:after {
                filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(69deg) brightness(114%) contrast(110%);
            }
        }

        &:after {
            content: "";
            display: flex;
            width: 31px;
            height: 31px;
            background: url(../images/check-item-standard-all.png) no-repeat center;
            background-size: contain;
            margin-top: 5px;
            position: absolute;
            top: 20px;
            left: 20px;
        }
    }
}

.list-standard__all {
    .row {
        justify-content: center;
    }
}

.list-design__catalouge {
    .item-standard__all {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
        border: 1px solid #C3C3C3;
        margin-bottom: 20px;
    }
}

.top-design__catalouge {
    padding: 40px 0px;
    background: url(../images/bg-top-design-catalouge.png) no-repeat center top;
    background-size: cover;

    .item-standard__all {
        background-color: #FFFFFF;

        &:hover,
        &:focus {
            background-color: $blue;
        }
    }
}

.items-benefit__brochure {
    display: flex;

    >img {
        width: auto;
        height: 50px;
        object-fit: scale-down;
    }

    .intro-benefit__brochure {
        width: 100%;
        flex: 1;
        margin-left: 50px;
        color: $text-third;
    }
}

.img-content__sevice {
    max-width: 925px;
    margin-left: auto;
    margin-right: auto;
}

.advise-maketing__pages {
    padding: 50px 0px;
    background-size: cover;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    min-height: 415px;
    position: relative;

    >img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }


    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: auto;
        margin-bottom: auto;
        z-index: 10;
        position: relative;
    }

    .title-hara {
        max-width: 560px;
    }

    p {
        max-width: 350px;
    }

    .btn-red__alls {
        min-height: 50px;
        font-size: 18px;
        margin-top: 60px;
    }
}

.list-subject__marketing {
    max-width: 755px;
    margin-left: auto;
    margin-right: auto;

    >.row {
        &>[class^='col'] {
            margin-bottom: 20px;

            &:nth-child(1) {
                .items-subject__marketing {
                    border-radius: 40px 40px 0px 40px;
                }
            }

            &:nth-child(2) {
                .items-subject__marketing {
                    border-radius: 40px 40px 40px 0px;
                }
            }

            &:nth-child(3) {
                .items-subject__marketing {
                    border-radius: 40px 0px 40px 40px;
                }
            }

            &:nth-child(4) {
                .items-subject__marketing {
                    border-radius: 0px 40px 40px 40px;
                }
            }
        }
    }
}

.items-subject__marketing {
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 60px;
    padding-top: 15px;
    text-align: center;
    height: 100%;

    img {
        max-height: 240px;
        object-fit: scale-down;
        margin-bottom: 15px;
    }
}

.subject-marketing {
    .register-sevice__main {
        color: #767676;
    }

    .top-design__catalouge {
        padding-bottom: 70px;
    }

    .register-sevice__main {
        margin-top: -60px;
    }
}

.brand-partner__pages {
    background-color: #F8F8F8;
    padding: 10px 0px;

    .row {
        align-items: center;
    }
}

.manufacturing-videos__marketing {
    .item-standard__all {
        background-color: #FFFFFF;
        padding: 30px 20px;

        &:hover,
        &:focus {
            background-color: $blue;

            ul {
                li {
                    &:before {
                        background-color: #FFFFFF;
                    }
                }
            }
        }
    }
}

.list-manufacturing__videos {
    text-align: left;

    li {
        display: flex;

        &:not(:last-child) {
            margin-bottom: 5px;
        }

        &:before {
            content: "";
            display: flex;
            width: 5px;
            height: 5px;
            min-width: 5px;
            margin-right: 10px;
            background-color: $blue;
            border-radius: 1000px;
            transform: translateY(6px);
        }
    }
}


.banner-production__media {
    position: relative;
    padding: 180px 0px;

    img {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0px;
        bottom: 0px;
        object-fit: cover;
    }

    &:after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        left: 0px;
        top: 0px;
        z-index: 5;
        background: rgba(32, 32, 32, 0.2);
    }

    .container {
        position: relative;
        z-index: 10;
        color: #FFFFFF;
        text-align: center;
    }
}

.title-digital__maketing {
    background-color: #F8F8F8;
    padding: 20px 0px;
    text-align: center;
}

.list-advise__trademark {
    .item-standard__all {
        position: relative;
        margin-bottom: 30px;

        .number-standard__advise {
            position: absolute;
            left: 25px;
            top: 25px;
            z-index: 10;
            font-size: 34px;
            font-family: 'Roboto-Bold';
            color: #e4e5ea;

        }

        .list-manufacturing__videos {
            margin-top: 20px;
        }
    }
}

.list-element__trademark {
    .items-benefit__brochure {
        align-items: center;

        .number-element__trademark {
            font-size: 34px;
            color: #ffffff;
        }
    }
}

.img-marquest__face {
    width: 100%;
    text-align: center;
}


.diversity-mar__facebook {
    position: relative;

    .btn-red__alls {
        position: absolute;
        bottom: 5%;
        left: 0;
        right: 0;
        margin: auto;
    }
}

.all-marcom__sevice {
    background-color: #F3F5FD;
    padding: 50px 0px;
}

.service-charge__marcom {
    display: flex;
    align-items: center;
    justify-content: center;
}

.all-marcom__sevice {
    .row {
        max-width: 750px;
        margin: auto;
    }
}

.box-marcom__sevice {
    padding: 20px 40px;
    text-align: center;
    color: #7F7F7F;
    border-radius: 12px;
    background-color: #FFFFFF;
    border: 1px solid #D9D9D9;
    transition: all 0.2s;
    margin-top: 20px;

    .btn-marcom__sevice {
        width: 100%;
        max-width: 90%;
        margin: auto;
    }

    .tag-marcom__sevice,
    .medium-marcom__sevice {
        margin: auto;
        margin-bottom: 20px;
        min-width: 60%;
    }

    &:hover,
    &:focus {
        background-color: $blue;
        border: 1px solid $blue;
        color: #FFFFFF;
        transform: translateY(-20px);

        .title-rb__bold {
            color: #FFFFFF;
        }
    }
}

.list-marcom__service {
    text-align: left;
    padding: 20px;
    background: #F3F5FD;
    border-radius: 11px;
    color: #7F7F7F;

    li {
        display: flex;
        
        &:before {
            content:'';
            display: flex;
            width: 15px;
            min-width:15px;
            height: 15px;
            margin-top: 3px;
            margin-right: 5px;
            background:url(../images/before-list-marcom.png) no-repeat center;
            background-size: contain;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }
    }
}

// .marcom-blue__1 {
//     background-color: #FFFFFF;
//     border: 1px solid #D9D9D9;

// }

// .marcom-blue__2 {
//     background-color: $blue;
//     border: 1px solid $blue;
//     color: #FFFFFF;
// }

.btn-marcom__sevice {
    display: flex;
    min-height: 40px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    border: solid 1px #F3F5FD;
    background-color: #F3F5FD;
    color: $blue;
    font-size: 15px;
    padding: 5px 20px;
    transition: all 0.3s;
    border-radius: 1000px;
    font-family: 'Roboto-Medium';

    img {
        margin-left: 10px;
        transition: all 0.3s
    }

    &:hover,
    &:focus {
        background-color: #FFFFFF;
        color: $red !important;
        border-color: $red;

        img {
            filter: brightness(0) saturate(100%) invert(19%) sepia(96%) saturate(2429%) hue-rotate(331deg) brightness(101%) contrast(97%);
        }
    }
}

.list-faq__marcom {
    >li {

        &:not(:last-child) {
            margin-bottom: 40px;
        }

        .btn-mar__faq {
            display: flex;
            justify-content: space-between;
            font-family: 'Roboto-bold';
            color: #000000;
            margin-bottom: 20px;

            span {
                color: #7F7F7F;
                font-size: 14px;

                i {
                    &:nth-child(2) {
                        display: none;
                    }
                }
            }
        }

        .info-mar__faq {
            list-style: disc;
            padding-left: 20px;
            display: none;

            li {
                color: #7F7F7F;
            }
        }
    }
}

.active-questions {
    .icons-faq__marcom {
        i {
            &:nth-child(1) {
                display: none;
            }

            &:nth-child(2) {
                display: block !important;
            }
        }
    }
}

.item-prj__marcom {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    padding: 20px;
    margin-bottom: 20px;

    .img-prj__marcom {
        border-radius: 11px;
        overflow: hidden;
        margin-bottom: 15px;

        >a {
            position: relative;
            display: flex;
            width: 100%;
            height: 1px;
            padding-top: 100%;

            img {
                position: absolute;
                left: 0px;
                top: 0px;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

    .intros-prj__marcom {
        padding: 0px 10px;

        .title-prj__marcom {
            display: flex;
        }
    }
}

.tag-marcom__sevice {
    display: flex;
    min-height: 30px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: $red;
    color: #FFFFFF;
    font-size: 15px;
    padding: 5px 20px;
    transition: all 0.3s;
    border-radius: 1000px;
    font-family: 'Roboto-bold';
}

.medium-marcom__sevice {
    border: solid 1px #D9D9D9;
    display: flex;
    min-height: 30px;
    width: fit-content;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: $blue;
    font-size: 15px;
    padding: 5px 20px;
    transition: all 0.3s;
    border-radius: 1000px;
    font-family: 'Roboto-bold';
}


.img-default__center {
    img {
        min-width: 100% !important;
    }
}